<div class="basic-likert-widget">
    {% for option in widget.attrs.options %}
        <input
            type = "radio"
            id = "{{widget.attrs.handle}}-{{option.0}}"
            name = {{widget.name}}
            value = {{option.0}}
            {% if widget.attrs.prev|add:"0" == option.0 %} checked {% endif %}
        >
        <label for="{{widget.attrs.handle}}-{{option.0}}" style="width:calc(100%/{{widget.attrs.size}})" title="({{option.0}}) {{option.1}}">
            {% if option.1 %}
                {{option.1}}
            {% else %}
                -
            {% endif %}
        </label>
    {% endfor %}
 </div>
