<div class="basic-likert-widget">
    {% if widget.attrs.header %}
        <div class="likert-header">
            <div class="header-padding"></div>
            <div class="header-items">
                {% for a in widget.attrs.annotations %}
                    <div class="header-item" style="width:calc(100%/{{widget.attrs.annotations|length}})">
                        {{a}}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if widget.attrs.odd %}
    <div class="likert-row odd-row">
    {% else %}
    <div class="likert-row">
    {% endif %}
        <div class="row-prompt"> {{widget.attrs.prompt}} </div>
        <div class="row-input">

            {% for i in widget.attrs.options %}
                <label class="input-element">
                    <input
                        type = "radio"
                        value = {{i}}
                        name = "{{widget.attrs.handle}}"
                        {% if widget.attrs.checked == i %} checked {% endif %}
                    />
                    <div class="radio-button"></div>
                </label>
            {% endfor %}
        </div>
    </div>

</div>
