{# <div class="prompt">{widget.attrs.prompt}}</div> #}
<div class="polar-likert-widget">
    <div class="ticks">
        <span class="tick major"></span>
        {% for a in widget.attrs.inner_range %}
            <span class="tick"></span>
        {% endfor %}
        <span class="tick major"></span>
    </div>
    <input class = "slider"
           type = "range"
           name = {{widget.name}}
           value = {{widget.value}}
           min = {{widget.attrs.min_}}
           max = {{widget.attrs.max_}}
           step = {{widget.attrs.step}}
    />
    <div class="annotations">
        <div class="lo">{{widget.attrs.annotations.0}}</div>
        <div class="hi">{{widget.attrs.annotations.1}}</div>
    </div>
</div>
