button:hover{
    cursor: url('../images/icons/tap.svg') 30 1, pointer !important;
}
#pre_post_panel{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 2%;
    height: 100%;
    margin-left: 30%;
    position: absolute;
    overflow-y: scroll;
    width: 70%;
}
.img_instructions{
    flex: 1;
    padding: 20px;
    margin: 0;
}
#img_researcher_pre_post{
    width: 350px;
    height: 340px;
    align-self: center;
}
.instructions_container{
    padding: 40px;
    height: fit-content;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
}

.bubble::after {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 20px;
    left: -50px;
    position: relative;
    top: -275px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
}

.button_answer{
    cursor: url('../images/icons/tap.svg') 30 1, pointer !important;
}