.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border: 1px solid black;
}
.main-consent{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 30px;
    padding-right: 30px;
}
.form-group{
    margin-bottom: 5px;
}
#submit-id-submit{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
}
#submit-id-submit:hover{
    color: black;
    background-color: white;
}
#div_id_email{
    display: flex;
    flex: 1;
}
input[type=email]{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 5px;
    width: 100%;
    outline: none;
}
.invalid-feedback{
    color: red;
}