.upper_row {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub_graphs_img{
    width: 95%;
}
.slidecontainer{
    display: flex;
    justify-content: space-between;
}
.row-button{
    display: flex;
    justify-content: center;
}
.header-settings{
    background-color: #7CA0C7;
    padding: 20px;
    position: sticky;
    top: 0;
    padding-left: 10%;
    padding-right: 10%;
}
.trajectory{
    display: flex;
    justify-content: center;
}
#main_graph_img_bandit{
    width: 49%;
}
#main_graph_img_success{
    width: 49%;
}