<h2> FORMULAIRE D’INFORMATION ET DE RECUEIL DE CONSENTEMENT ECLAIRE </h2>

<p> Dans  le  cadre  de  leurs  recherches,  les  chercheurs  Inriasont  amenés  à  demander  à  des personnes de participer à des études, nécessaires pour l’avancement de leurs projets de recherches.Toute participation de personnes à une étude doit être précédée, d’une part de la transmission d’une note d’information et, d’autre part de la signature d’un formulaire de consentement éclairé. Ce document présente le formulaire d’information et de recueil de consentement éclairé que le  COERLE  recommande  de  faire  signer  aux  personnes  qui  participent  à  des  recherches menées parles chercheurs Inria. </p>


<p>Je soussigné(e):
<span class='consent-form'>
    <span><label for="nom">Nom</label></span><input type="text" value={{person.0}} name='nom' required/>
    <span><label for="prenom">Prénom</label></span><input type="text" value={{person.1}} name='prenom' required/>
</span>
</p>
<p>
    reconnais avoir lu et compris le présent formulaire d’informations concernant le projet "{{project}}" et consens volontairement à participer à ce projet de recherche. Je reconnais avoir été informé que je peux mettre fin à ma participation au projet à tout moment sans aucun motif à donner, en contactant simplement les personnes contacts référencées ci-dessus.Je reconnais que j’ai été informé sur le but et les modalités du projet, ainsi que les avantages, risques et inconvénients du projet.Je reconnais avoir obtenu les réponses mes questions de manière claire et précise.Je reconnais enfin avoir la possibilité de poser des questions additionnelles sur le projet ou sur mes droits, à tout moment pendant le projet, en communiquant avec les personnes contacts.Fait en deux exemplaires dont un sera remis au participant et un sera conservé par le responsable du projet.

</p>
