{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%}
    <script>
        function postChoice(choice) {
            $.ajax({
                async: true,
                type: 'POST',
                url: '/JOLD/EndOfSession',
                dataType: "json",
                traditional: true,
                data: {choice: choice},
                success: function(response) {
                    window.location.href = response.url
                }
            })
        }
    </script>
{% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
{% endblock %}
{% block nav%} {%endblock%}

{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>C'est terminé pour aujourd'hui !</h2>
           <ul class="progress-list">
               {% with ''|center:PAGE_PROPS.nb_sess as range %}
                   {% for _ in range %}
                       {% if forloop.counter < CURRENT_SESS %}
                         <li class="sess_complete">Session {{forloop.counter}}</li>
                       {% elif forloop.counter == CURRENT_SESS %}
                         <li class="sess_current">Session {{forloop.counter}}</li>
                       {% elif forloop.counter > CURRENT_SESS %}
                         <li class="sess_incomplete">Session {{forloop.counter}}</li>
                       {% endif %}
                   {% endfor %}
               {% endwith %}
           </ul>
        </div>
        <a class="btn logout" href="{% url "user_logout" %}">Se déconnecter</a>
    </div>

    <div class="main-panel">
        <h2>Merci pour votre participation !</h2>
        <p>
            La session d'aujourd'hui est terminée ! La prochaine session est prévue pour \{\{date-of-next-sess\}\}. Vous pouvez maintenant quitter la page, ou si vous le souhaitez, continuer à jouer un petit peu, pas plus de 5 minutes (Vous pourrez stopper à tout moment en cliquant sur le bouton terminer).
        </p>
        <form class="form" method="post">
            <div class="btn-box">
                <input class="btn" type="button" value="Continuer à jouer" onclick="postChoice(1)">
                <input class="btn" type="button" value="Quitter" onclick="postChoice(0)">
            </div>
        </form>
    </div>
{% endblock %}
