<p>
    Welcome and thank you for participating in our experiment.
    <br>
    During a period of 3 days, you will be brought to play the game Lunar Lander. The goal of the game is to control a spacecraft with your keyboard to land it on the platform. Each day, you will have a 20-minute session.
    After each game session, we will ask you to answer some questions. You may have to fill out the same questionnaire several times, in any case, try to answer it as accurately as possible.
    <br>
    Good luck!
</p>
