<h3> Bienvenue et merci de participer à notre expérimentation! </h3>
<p>
    Pendant une durée de 3 jours, vous serez amenés à jouer au jeu Lunar Lander. Le but du jeu est de contrôler, à l’aide du clavier, un vaisseau spatial pour le poser le plus près possible de sa zone de stationnement. Chaque jour, vous aurez une session de 20 minutes pour réussir le plus d’essais possibles.
    <br/>
    Lors de certaines sessions, vous devrez répondre à certaines demandes ou questionnaires. Il se peut que vous ayez à remplir plusieurs fois le même questionnaires, dans tous les cas, essayez d’y répondre le plus précisément possible.
</p>
<p>
    Vous pouvez contrôler le vaisseau avec ces 3 touches :
    <ul>
        <li><kbd>J</kbd> tourne le vaisseau vers la droite</li>
        <li><kbd>F</kbd> tourne le vaisseau vers la gauche</li>
        <li><kbd>Space</kbd> propulse le vaisseau en avant</li>
    </ul>
    {% include "JOLD/tutorial_ll.html" %}
    De plus, vous verrez 2 autres boutons en haut de l'écran :
    <ul>
        <li style="margin:5px"><kbd id='fullscreen'>Plein écran</kbd> met le jeu en mode plein écran. <b>Le jeu ne peut être utilisé qu'en mode plein écran</b>.</li>
        <li style="margin:5px"><kbd id='terminate'>Terminer</kbd> termine la sessione en cours. <b>Si vous terminez la session avant la fin du temps imparti, nous ne serons pas en mesure d'utiliser vos données pour notre étude</b>.</li>
    </ul>
</p>
