<h3> Thank you for participating in our experiment! </h3>
<p>
    The goal of the game is to control a spacecraft with your keyboard to land it on the platform. Each day, you will have a 20-minute session. After each game session, we will ask you to answer some questions. You may have to fill out the same questionnaire several times. Try to answer it as accurately as possible.
</p>
<p>
    You can control the spacecraft with any of the three action buttons:
    <ul>
        <li><kbd>J</kbd> tilts the spacecraft clockwise</li>
        <li><kbd>F</kbd> tilts the spacecraft counter-clockwise</li>
        <li><kbd>Space</kbd> thrusts spacecraft ahead</li>
    </ul>
    {% include "JOLD/tutorial_ll.html" %}
    Additionally, you will see two on-screen buttons:
    <ul>
        <li style="margin:5px"><kbd id='fullscreen'>Fullscreen</kbd> switches the fullscreen mode on and off. <b>The game can only be played with fullscreen activated</b>.</li>
        <li style="margin:5px"><kbd id='terminate'>Terminate</kbd> terminates current session. <b>If you terminate the session before the time runs out, we will not be able to use your data in our study</b>.</li>
    </ul>
</p>
