{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%}
    <script>
        let elements = document.getElementsByClassName("slider");
        let onClick = function() {
            document.getElementsByName(this.getAttribute("name").concat("_validator"))[0].checked = true
        };
        Array.from(elements).forEach((element) => {element.addEventListener('click', onClick)});
    </script>
{% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/rangeLikert.css" %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="sidenav">
        <div class="sidenav-block">
           <h2>Questionnaire</h2>
           <p> Set n of N</p>
        </div>
        <div class='logout-container'> <a class="btn" href="{% url "user_logout" %}">Logout</a> </div>
     </div>

     <div class="info_container">
            <div class="signup-form">
                <form action="." class="form" method="post">
                    {% crispy FORM %}
                </form>
        </div>

{% endblock %}
