{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%}
    <script>
        let elements = document.getElementsByClassName("slider");
        let onClick = function() {
            document.getElementsByName(this.getAttribute("name").concat("_validator"))[0].checked = true
        };
        Array.from(elements).forEach((element) => {element.addEventListener('click', onClick)});
    </script>
{% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/rangeLikert.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/polarLikert.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/basicLikert.css" %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>Questionnaire post-session</h2>
           <p> Page {{STAGE}} sur {{NSTAGES}} </p>
        </div>
        <div class="btn-box logout"> <a class="btn logout" href="{% url "user_logout" %}">Se déconnecter</a> </div>
    </div>

    <div class="main-panel">
        <div class="signup-form">
            <form class="form" method="post">
                {% crispy FORM %}
            </form>
    </div>

{% endblock %}
