{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%}
    <script type="text/javascript">
        function showHide(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    </script>
{% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/rangeLikert.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/polarLikert.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/basicLikert.css" %}">
    <style>
        .example-box {
            display: none;
            padding: 2% 5%;
            max-height: 50%;
            overflow-y: scroll;
            box-shadow: 0 0 15px #777;
            margin: 5% auto;
        }
    </style>
{% endblock %}
{% block nav%} {%endblock%}

{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>Session complete</h2>
           <ul class="progress-list">
               {% with ''|center:PAGE_PROPS.nb_sess as range %}
                   {% for _ in range %}
                       {% if forloop.counter <= CURRENT_SESS %}
                         <li class="sess_complete">Session {{forloop.counter}}</li>
                       {% elif forloop.counter > CURRENT_SESS %}
                         <li class="sess_incomplete">Session {{forloop.counter}}</li>
                       {% endif %}
                   {% endfor %}
               {% endwith %}
           </ul>
        </div>
        <a class="btn logout" href="{% url "user_logout" %}">Logout</a>
    </div>
    <div class="main-panel">

        <div class="todo">
            <h4> May be: </h4>
            Alternative page headers:
            <ul>
                <li>Don't go just yet...</li>
                <li>Don't forget to answer the questionnaire!</li>
            </ul>
        </div>

        <h1>You are almost done...</h1>
        <p>Next, we are going to ask you to answer some questions about the task and how you felt while doing it. The questions can be answered by interacting with responsive widgets <code class="show-hide" onclick="showHide('id-example-box')">[show example]</code>.</p>

        {% include "JOLD/example_widgets.html" %}

        <p><b>Try to answer the questions as accurately as you can.</b> Click the button below to start the questionnaire. </p>

        <a class="btn" href="{% url "JOLD_post_sess" %}">Begin questionnaire</a>
    </div>
{% endblock %}
