{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%}
    <script type="text/javascript">
        function showHide(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    </script>
{% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/rangeLikert.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/polarLikert.css" %}">
    {%load static%} <link rel="stylesheet" href="{% static "css/basicLikert.css" %}">
    <style>
        .example-box {
            display: none;
            padding: 2% 5%;
            max-height: 50%;
            overflow-y: scroll;
            box-shadow: 0 0 15px #777;
            margin: 5% auto;
        }
    </style>
{% endblock %}
{% block nav%} {%endblock%}

{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>Progression</h2>
           <ul class="progress-list">
               {% with ''|center:PAGE_PROPS.nb_sess as range %}
                   {% for _ in range %}
                       {% if forloop.counter < CURRENT_SESS %}
                         <li class="sess_complete">Session {{forloop.counter}}</li>
                       {% elif forloop.counter == CURRENT_SESS %}
                         <li class="sess_current">Session {{forloop.counter}}</li>
                       {% elif forloop.counter > CURRENT_SESS %}
                         <li class="sess_incomplete">Session {{forloop.counter}}</li>
                       {% endif %}
                   {% endfor %}
               {% endwith %}
           </ul>
        </div>
        <a class="btn logout" href="{% url "user_logout" %}">Se déconnecter</a>
    </div>
    <div class="main-panel">

        <h1>Ce n'est pas terminé ...</h1>
        <p>
            A partir de maintenant, nous allons vous demander de répondre à différentes questions en rapport avec le jeu et ce que vous avez ressenti durant celui-ci. Vous serez amenés à répondre de différentes manières.
        </p>
        <code class="show-hide" onclick="showHide('id-example-box')">Cliquez pour voir quelques exemples</code>
        <br/>
        {% include "JOLD/example_widgets.html" %}

        <p><b>Essayez de répondre aux questions le plus précisément possible.</b></p>

        <a class="btn" href="{% url "JOLD_question_block" %}">Commencer le questionnaire</a>
    </div>
{% endblock %}
