flowers-ol/mot_db
*.pyc
.idea/
lib/kidlearn/
flowers-ol/interface_app/static/admin/
Pipfile
Pipfile.lock
*migrations/
flowers-ol-db

# Branch-specific ignores for JOLD
flowers-ol/mot_app/*
lib/kidlearn/*