*.pyc
.vscode
.idea/
flowers-ol/manager_app/static/admin/
# Pipfile
Pipfile.lock
*migrations/
flowers-ol-db
flowers-ol-db/static

# Branch-specific ignores for JOLD
flowers-ol/mot_app/*
lib/kidlearn/*
flowers-ol/mot_app/
