[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"
streamlit = "*"
hiplot = "*"
jupyter = "*"

[packages]
django = "==3.1.7"
django-extensions = "*"
django-background-tasks = "*"
django-crispy-forms = "*"
jsonfield = "*"
kidlearn-lib = {editable = true,path = "./flowers-ol/mot_app/lib/kidlearn"}
django-modeltranslation = "*"
imageio = "*"
jupyter = "*"
ipywidgets = "*"

[requires]
python_version = "3.8"

[scripts]
runserver = "python flowers-ol/manage.py runserver"
