{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} APP_INTERFACE {% endblock %}</title>
        {%load static%}
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'js/p5.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/addScreenPositionFunction.js' %}"></script>
        <script src="{% static 'js/csrfControl.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        {% block css %} {% endblock %}
    </head>
    <body>
        {% block nav %} {% endblock %}
        {% block content %} {% endblock %}
    </body>
    <footer>
        {% block js %} {% endblock %}
    </footer>
</html>
