{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/consent_form.css" %}">
    <link rel="stylesheet" href="{% static "css/consent_mot.css" %}">
{% endblock %}
<div class="container main-consent shadow">
    <section id="section-1">
    <center><h1>{% trans "INFORMATIONS SUR L'ÉTUDE" %}</h1></center>
    <p>
        {% trans "Dans le cadre de leurs recherches, les chercheurs Inria sont amenés à demander à des personnes de participer à des études nécessaires pour l’avancement de leurs projets de recherche. Conformément aux directives éthiques de <a href='https://www.inria.fr/fr/comite-operationnel-devaluation-des-risques-legaux-et-ethiques'>COERLE</a>, toute forme de participation à une étude doit être précédée de la transmission d'informations concernant la participation, suivie de la signature d'un formulaire de consentement éclairé.  Ce document présente le formulaire d’information et de recueil de consentement éclairé que le COERLE recommande de faire signer aux personnes qui participent à des recherches menées par les chercheurs Inria." %}
    </p>
</section>
<section id="section-2">
    <center><h2>{% trans "INFORMATIONS POUR LES PARTICIPANTS" %}</h2></center>
    <b>{% trans "Votre collaboration est essentielle à la réalisation de notre projet et, l’équipe de recherche tient à vous en remercier." %}</b>
    <p>
        {% trans "Avant de donner votre consentement éclairé, il est important que vous compreniez pourquoi la recherche est faite, ce qu’elle implique et quels sont vos droits et obligations." %}
    </p>
</section>
<section id="section-3">
    <center><h2>{% trans "PRESENTATION DU PROJET" %}</h2></center>
    <b>{% trans "Responsables du projet" %}</b> : Pierre-Yves OUDEYER, Hélène SAUZEON <br>
    <b>{% trans "Equipe-projet et CRI " %}</b>: {% trans "Équipe-projet FLOWERS – Inria Bordeaux Sud-Ouest " %}<br>
    <b>{% trans "Nom du projet " %}</b>: {% trans "Entraînement personnalisé de l'attention" %}<br>
    <p>
        {% trans "Vous êtes invité à participer à une expérience comportementale qui vise à étudier les processus métacognitifs impliqués dans l'apprentissage sensorimoteur autorégulé." %}
    </p>
    <b>{% trans "Les modalités de réalisation du projet seront les suivantes :" %} </b>
    <p>
        {% trans "<p> Ce projet s'inscrit dans une démarche de compréhension des liens entre les mécanismes d'apprentissage et la motivation intrinsèque (propre à l’individu). En particulier, cette recherche vise à étudier la qualité d'une batterie d'évaluations cognitives. </p>"%}
    </p>
    <b>{% trans "Les résultats de l'expérience devraient nous permettre d'apprendre les choses suivantes :" %}</b>
    <p>
        {% trans "La plateforme d'expérimentation est robuste et les tâches proposées sont pertinentes pour une évaluation cognitive. Ce projet est financé par l'équipe Flowers (centre Inria Bordeaux Sud-Ouest) et a été autorisé par le Comité opérationnel d'évaluation d'Inria des risques légaux et éthiques. Pour plus d'informations, cliquez sur ce <a href='https://www.inria.fr/fr/comite-operationnel-devaluation-des-risques-legaux-et-ethiques'>lien</a>." %}
    </p>
​</section>
<section id="section-4">
    <center><h2>{% trans "VOTRE PARTICIPATION AU PROJET" %}</h2></center>
    <b>{% trans "Modalités de votre participation" %}</b>
    <p>
        {% trans "Votre participation consistera à :" %}
        <ul type=square>
           <li>
               {% trans "Utiliser les outils fournis par l'équipe de recherche (application en ligne et jeu vidéo). L'ensemble de l'expérience durera 2 jours, pendant lesquels il vous sera demandé d'effectuer 2 sessions programmées, de 1 heure chacune. La première session peut être commencée n'importe quel jour, mais la deuxième session devra obligatoirement être effectuée durant la journée suivante." %}
            </li>
            <li>
               {% trans "Il est important de suivre le programme des sessions, sans quoi, nous ne pourrons utiliser vos résultats pour notre étude. Le programme est le suivant : Jour 1 - session 1 -> Jour 2 - session 2. Par exemple, si vous terminez votre première session à n'importe quel moment le mardi, la session suivante doit être terminée le mercredi (à 23h59 au plus tard)." %}
            </li>
            <li>
              {% trans "Répondre à des questionnaires sur votre activité." %}
            </li>
            <li>
               {% trans "Aucun risque particulier n’est à déplorer concernant votre participation à cette étude. De plus, la participation vous donne également l'occasion de vous informer sur les recherches en cours portant sur des questions majeures liées à l'apprentissage et aux capacités cognitives humaines." %}
            </li>
            <li>
               {% trans "Aucune compensation financière n’est prévue pour votre participation, qui ne repose que sur votre décision. Vous avez le droit de vous retirer à tout moment de l'expérience." %}
            </li>
        </ul>
    </p>
    {% blocktrans %}
    <b>Participation volontaire au projet</b>
    <p>
        Après avoir lu et compris les informations contenues dans la section 'PRÉSENTATION DU PROJET', l'envoi de ce
        formulaire indique que vous acceptez de participer au projet, sans aucune contrainte ni pression extérieure.
        S'il vous manque des informations nécessaires à votre décision, n'hésitez pas à demander des informations
        complémentaires aux personnes de contact (voir ci-dessous).
    </p>
    <b>Retrait du projet à tout moment</b>
    <p>
        Vous êtes totalement libre de mettre fin à votre participation au projet à n’importe quel moment.
        Il vous suffit d’en informer les personnes contacts (ci-après). Vous n’aurez aucune justification à apporter
        à votre retrait et vous n’encourrez aucune responsabilité.
    </p>
    <b>Suite de votre retrait du projet</b>
    <p>
        L’équipe de recherche pourra continuer à utiliser les renseignements vous concernant jusqu’au retrait de votre
        consentement, sauf si vous vous y opposez en l’indiquant aux personnes contacts. Dans ce cas, les renseignements
        vous concernant seront détruits.
    </p>
    <b>Demande d’informations au cours du projet</b>
    <p>
       Si vous avez des questions additionnelles sur le projet ou sur les droits en tant que participant à ces travaux
        de recherche, n’hésitez pas à nous contactez.
    </p>
    <b>Information concernant les résultats principaux de la recherche</b>
    <p>
        Si vous souhaitez obtenir un résumé écrit des principaux résultats de cette recherche ainsi que de
        leur utilisation, veuillez faire une demande auprès de l'un des contacts indiqués ci-dessous.
    </p>
    {% endblocktrans %}
</section>
{% blocktrans %}
<section id="section-5">
    <center><h2>"CONFIDENTIALITE ET LOI INFORMATIQUE & LIBERTES" </h2></center>
    <p>
        "Inria est très attentif et vigilant concernant les questions de protection des données à caractère personnel (DCP),
        il s’est d’ailleurs doté d’un Délégué à la Protection des Données (DPD) qui est chargé de s'assurer de la conformité
        d'Inria avec le Règlement européen sur la Protection des Données (RGPD)."
    </p>
    <b> "Ces données sont les suivantes :"</b>
    <p>
         "Les données collectées à partir de l'application sont les résultats du jeu enregistrés automatiquement lors de
        l’utilisation du jeu. Ces données sont totalement anonymes dans la mesure où vos nom et prénom ne sont pas saisis
        dans la base de données, qui ne contient que des identifiants numériques qui ne permettent pas de remonter jusqu'à vous."
    </p>
    <b> "Ces données seront traitées de la manière suivante :" %}</b>
    <p>
        "Les données issues de l’application nous permettront d'étudier les mécanismes de l’apprentissage intrinsèquement
        motivés: les données collectées seront stockées dans une base de données, sur laquelle nous opérerons des analyses
        statistiques sur le progrès d’apprentissage et l’auto-évaluation de ces progrès lors de l’utilisation de l’application.
        Ces données anonymes ne seront pas utilisées à d’autres fins que l'étude de l'apprentissage et des mécanismes métacognitifs."
    </p>
    <p>
        "Conformément à l'article 13 du Règlement relatif à la protection des personnes physiques à l'égard du traitement
        des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE
        (règlement général sur la protection des données ou RGPD), veuillez trouver ci-dessous quelques informations
        concernant cette collecte de données :"
    <ul type=square>
        <li>
            Cette collecte de données s’effectue sur la base du volontariat. Vous n’êtes en aucun cas tenu par voie réglementaire,
            contractuelle ou autres de fournir vos données."
        </li>
        <li>
           À tout moment, vous pouvez décider d’arrêter le Projet et demander la suppression de vos données collectées."
        </li>
        <li>
           Il est entendu que les données personnelles recueillies lors du projet sont confidentielles et que seuls les
            membres de l’équipe de recherche, identifiés ci-après, auront accès à ces données :"
            <ul type=square>
                <li>"M. OUDEYER Pierre-Yves, directeur d’équipe" </li>
                <li>"Mme. SAUZEON Hélène, professeure en Psychologie" </li>
                <li> "M. SAWAYAMA Masataka, Post-doctorant sur le projet" </li>
                <li>"M. TEN Alexandr, Doctorant sur le projet" </li>
                <li> "M. ADOLPHE Maxime, Doctorant sur le projet" </li>
                <li>"M. BALAN Maxime, Stagiaire sur le projet" </li>
            </ul>
        </li>
        {% endblocktrans %}
        {% blocktrans %}
            <li>
               Chaque traitement de données à caractère personnel au sein d’Inria doit faire l’objet d’une déclaration auprès du DPD d’Inria.
            </li>
            <li>
               Le représentant du responsable de traitement est le Directeur du Centre de Recherche Inria Bordeaux Sud-Ouest : Nicolas Roussel.
            </li>
            <li>
               Chaque traitement de données à caractère personnel au sein d’Inria doit faire l’objet d’une déclaration auprès du DPD d’Inria."
            </li>
            <li>
            Le représentant du responsable de traitement est le Directeur du Centre de Recherche Inria Bordeaux Sud-Ouest : Nicolas Roussel."
            </li>
            <li>
             Aucun transfert de vos données vers un pays tiers ou vers une organisation internationale ne sera effectué"
            </li>
            <li>
               Vos données seront conservées pour une durée maximale de 10 ans (temps requis pour la valorisation scientifique et éventuellement, leur utilisation pour des métaanalyses postérieures)."
            </li>
            <li>
                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant."
            </li>
            <li>
              Vous pouvez donc accéder aux données vous concernant ou demander leur effacement. Vous disposez également d'un droit d’opposition, d’un droit de rectification et d’un droit à la limitation du traitement de vos données (cf. cnil.fr pour plus d’informations sur vos droits)."
            </li>
        {% endblocktrans %}
        {% blocktrans %}
        <li>
            Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter le DPD.
            <ul type="square">
                <li>
                    Contacter le DPD par voie électronique : <a href="mailto:dpd@inria.fr">dpd@inria.fr</a>. Le DPD nommé par Inria est Madame Anne COMBE (<a href="mailto:anne.combe@inria.fr">anne.combe@inria.fr</a>)
                </li>
                <li>
                   Contacter le DPD par courrier postal : Le délégué à la protection des données Inria, 2004 route des Lucioles, BP 93, 06902 Sophia-Antipolis Cedex
                </li>
            </ul>
           Si vous estimez, après nous avoir contactés, que vos droits Informatique et Libertés ne sont pas respectés ou que l’étude
            n’est pas conforme aux règles de protection des données, vous pouvez adresser une réclamation à la CNIL.
        </li>
    </ul>
    <p>
        Le présent formulaire d’information et de recueil de consentement éclairé est un document confidentiel et sensible,
        à ce titre il doit faire l’objet d’un traitement particulier tant concernant sa conservation que son archivage.
        </br>
        L’exemplaire du formulaire dûment signé destiné au responsable du projet sera conservé au sein du service administratif
        et financier du Centre de recherche Inria concerné pendant une durée de quinze ans puis fera l’objet d’un versement
        au service des archives du Centre de recherche Inria concerné.
    </p>
    {% endblocktrans %}
</section>
<section id="section-6">
    <center><h2>{% trans "PERSONNES CONTACTS" %}</h2></center>
    <div class="contacts">
        <div class="contact-card">
             <center>
                 <h4>TEN Alexandr</h4>
                 <i>{% trans "Doctorant" %}</i>
             </center>
            <p>📞 06.28.56.75.85</p>
            <p>✉️ <a href="mailto:alexandr.ten@inria.fr">alexandr.ten@inria.fr</a></p>
        </div>
        <div class="contact-card">
             <center>
                 <h4>ADOLPHE Maxime</h4>
                 <i>{% trans "Doctorant" %}</i>
             </center>
            <p>📞 06.50.93.02.86</p>
            <p>✉️ <a href="mailto:maxime.adolphe@inria.fr">maxime.adolphe@inria.fr</a></p>
        </div>
        <div class="contact-card">
             <center>
                 <h4>SAWAYAMA Masataka</h4>
                 <i>{% trans "Post-doctorant" %}</i>
             </center>
            <p>📞</p>
            <p>✉️ <a href="mailto:masataka.sawayama@inria.fr">masataka.sawayama@inria.fr</a></p>
        </div>
         <div class="contact-card">
             <center>
                 <h4>BALAN Maxime</h4>
                 <i>{% trans "Stagiaire" %}</i>
             </center>
            <p>📞 06.64.03.89.41</p>
            <p>✉️ <a href="mailto:maxime.balan@inria.fr">maxime.balan@inria.fr</a></p>
        </div>
    </div>
</section>
<hr>
<section id="section-7">
    <center><h2>{% trans "VOTRE CONSENTEMENT ÉCLAIRÉ" %}</h2></center>
    <p>
        {% blocktrans %}
            En remplissant les champs obligatoires du formulaire, vous consentez volontairement à participer au projet intitulé <b> "Entraînement attentionnel" </b>.
            En donnant votre consentement éclairé, vous acceptez les points suivants :
        <ul>
            <li>Vous avez été informé que vous pouvez mettre fin à votre participation au projet à tout moment sans donner de raison, simplement en contactant les personnes de contact indiquées ci-dessus.</li>
            <li>Vous avez été informé de l'objectif et des modalités du projet, ainsi que de ses avantages, risques et inconvénients.</li>
            <li>Vous avez reçu des réponses claires et précises à vos questions.</li>
            <li>Vous avez la possibilité de poser des questions supplémentaires sur le projet ou vos droits à tout moment pendant le projet en contactant l'une des personnes de contact indiquées ci-dessus.
            </li>
        </ul>
        Fait en deux exemplaires dont un sera remis au participant et un sera conservé par le responsable du projet.
        {% endblocktrans %}
    </p>
</section>
<section id="consent_form">
    <h3>{% trans "CHAMPS REQUIS:" %}</h3>
    <form class="form" method="post">
        {% load crispy_forms_tags %}
        {% crispy  CONTEXT.form %}
    </form>
</section>

</div>
