{% extends "base.html" %}
{% block title %}TASK{% endblock %}
{%load static%}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_app.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_tuto.css' %}">
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
{% endblock %}

{% block content%}
        <div class="side-panel" style="visibility: hidden; z-index: 1">
            <h2>{% trans "Salut" %}, {{CONTEXT.participant.user.username}} !</h2>
            <p>{% trans "Ici, vous pouvez voir votre progression dans l'expérience" %}</p>
            <div class="side-info">
                <div class="content">
                    {% include "includes/study_progression.html" with info=CONTEXT.participant.progress_info %}
                    <div class="fade-screen"></div>
                </div>
            </div>
            <div class="btn-box" id="logout-button" onclick="confirm_logout()" style="visibility: hidden">
                <p class="btn logout">{% trans "Se déconnecter" %}</p>
            </div>
        </div>
        <div class="main-panel">
        </div>
        <div class="img_container">
            <div class="subcontainer_img">
                <img id="img_researcher_pre_post" src="{% static 'images/researcher/researcher_shadow.png' %}">
            </div>
            <div class="general_instructions_bubble bubble">
                <div class="text" id="0">
                    {% trans "Bonjour, je suis le docteur Flowers! Je serai votre accompagnant durant toute l'expérience. " %}
                    <br>
                    {% trans " Tout d'abord, merci de votre participation. Je vous propose de commencer par vous familiariser avec l'interface."%}
                    <br>
                    <i>{% trans "Cliquez sur le boutton suivant pour la suite des explications." %}</i>
                </div>
                <div class="text" style="display:none" id="1">
                    {% trans "Sur votre gauche, dans l'encadré rouge, vous pouvez observer l'ensemble des activités à effectuer durant la session. La fleche rouge propose un court descriptif de l'activité en cours." %}
                </div>
                <div class="text" style="display:none" id="2">
                    {% trans "En bas du panneau, le bouton 'Deconnexion' permet de se déconnecter et de quitter l'expérience !"%}
                </div>
                <div class="text" style="display:none" id="3">
                    {% trans "Je vous rappelle que la durée totale de l'expérience est de 2 heures. Vous pratiquerez une première session aujourd'hui puis une seconde demain."%}
                    {% trans "Chaque session dure une heure et sera composée d'activités cognitives ainsi que de questionnaires."%}
                    {% trans "Durant la pratique des actitivtés cognitives, nous vous demandons de vous tenir à 50cm de votre écran."%}
                    {% trans "Nous vous demandons de plus de rester concentré durant la passation des actitivtés, n'écoutez pas de musique et n'effectuez pas d'autres activités en parallèle."%}
                    {% trans "Vous allez maintenant pouvoir commencer, à vous de jouer !"%}
                </div>
                <div class="container-btn">
                    <button class="btn" style="display:none;" value="Previous" id="previous_btn" onclick="previous_button_click()">{% trans "Précédent" %}</button>
                    <button class="btn" value="Next" id="next_btn" onclick="next_button_click()">{% trans "Suivant" %}</button>
                    <button class="btn" value="Start" style="display:none;" id="start_btn" onclick="end_task()">{% trans "Démarrer" %}</button>
                </div>
            </div>
        </div>
{% endblock %}

{% block js%}

    {% get_current_language as LANGUAGE_CODE %}
    <script>  let language_code = {% autoescape off %}"{{LANGUAGE_CODE}}"{% endautoescape %}; </script>
    <script>
        let step_nb = 0;
        let next_button = document.getElementById("next_btn");
        let previous_button = document.getElementById("previous_btn");
        let start_button = document.getElementById("start_btn");
        function next_button_click(){
            step_nb ++;
            switch(step_nb){
                case 1:
                    previous_button.style.display = 'inline-block';
                    show_side_pannel();
                    highlight_side_panel_area();
                    break;
                case 2:
                    delete_side_panel_highlight();
                    show_logout_button();
                    highlight_logout_area();
                    break;
                case 3:
                    start_button.style.display = 'inline-block';
                    next_button.style.display = 'none';
                    delete_logout_highlight();
                    break;
            }
            display_text_nb(step_nb);
            hide_text_nb(step_nb-1);
        }
        function previous_button_click(){
            step_nb --;
            next_button.style.display = 'inline-block';
            start_button.style.display = 'none';
            switch(step_nb){
                case 0:
                    hide_side_pannel();
                    previous_button.style.display = 'none';
                    delete_side_panel_highlight();
                    break;
                case 1:
                    show_side_pannel();
                    highlight_side_panel_area();
                    delete_logout_highlight();
                    hide_logout_button();
                    break;
                case 2:
                    show_logout_button();
                    highlight_logout_area();
                    delete_side_panel_highlight();
                    break;
        }
            display_text_nb(step_nb);
            hide_text_nb(step_nb+1);
        }
        function display_text_nb(step_nb){
            var text_div = document.getElementById(step_nb);
            text_div.style.display = 'inline-block';
        }
        function hide_text_nb(step_nb){
            var text_div = document.getElementById(step_nb);
            text_div.style.display = 'none';
        }
        function show_side_pannel(){
            var side_pan = document.getElementsByClassName("side-panel");
            side_pan[0].style.visibility = 'visible';
            var char_container = document.getElementsByClassName("subcontainer_img");
            char_container[0].style.flexGrow = "1";
        }
        function hide_side_pannel(){
            var side_pan = document.getElementsByClassName("side-panel");
            side_pan[0].style.visibility = 'hidden';
            var char_container = document.getElementsByClassName("subcontainer_img");
            char_container[0].style.flexGrow = "0";
        }
        function show_logout_button(){
            document.getElementById('logout-button').style.visibility='visible';
        }
        function hide_logout_button(){
            document.getElementById('logout-button').style.visibility='hidden';
        }
        function highlight_side_panel_area(){
            document.getElementsByClassName('content')[0].style.border='5px solid red';
        }
        function delete_side_panel_highlight(){
            document.getElementsByClassName('content')[0].style.border='none';
        }
        function highlight_logout_area(){
            document.getElementsByClassName('logout')[0].style.border='5px solid red';
        }
        function delete_logout_highlight(){
            document.getElementsByClassName('logout')[0].style.border='none';
        }
        function end_task(){
            window.location.href="end_task";
        }
    </script>
{% endblock %}
