{% extends "base.html" %}

{% block title %}TASK{% endblock %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_app.css' %}">
{% endblock %}

{% block content%}
<div id="app_holder" class="text-center app">
    <div class="text-center">
            <input onclick="answer_button_clicked()" class="btn btn-dark" id="button_app" type="hidden" value="Answer">
    </div>
</div>
{% endblock %}

{% block js%}
<script src="{% static 'js/app_3D/app_3D.js' %}"></script>
{% endblock %}