{% load i18n %}
<section id="section-1">
    <center><h1>{% trans "FORMULAIRE D’INFORMATION ET DE RECUEIL DE CONSENTEMENT ECLAIRÉ" %}</h1></center>
    <p>
        {% trans "Dans le cadre de leurs recherches, les chercheurs Inria sont amenés à demander à des personnes de participer à des études nécessaires pour l’avancement de leurs projets de recherche. Toute participation de personnes à une étude doit être précédée, d’une part, de la transmission d’une note d’information et, d’autre part, de la signature d’un formulaire de consentement éclairé. Ce document présente le formulaire d’information et de recueil de consentement éclairé que le COERLE recommande de faire signer aux personnes qui participent à des recherches menées par les chercheurs Inria." %}
    </p>
</section>
<section id="section-2">
    <center><h2>{% trans "INFORMATIONS COMMUNIQUÉES AUX PARTICIPANTS" %}</h2></center>
    <b>{% trans "Votre collaboration est essentielle à la réalisation de notre projet et, l’équipe de recherche tient à vous en remercier." %}</b>
    <p>
        {% trans "Avant de donner votre consentement éclairé, il est important que vous compreniez pourquoi la recherche est faite, ce qu’elle implique et quels sont vos droits et obligations." %}
    </p>
</section>
<section id="section-3">
    <center><h2>{% trans "PRESENTATION DU PROJET" %}</h2></center>
    <b>{% trans "Responsables du projet" %}</b> : Pierre-Yves OUDEYER, Hélène SAUZEON <br>
    <b>{% trans "Equipe-projet et CRI " %}</b>: {% trans "Équipe-projet FLOWERS – Inria Bordeaux Sud-Ouest " %}<br>
    <b>{% trans "Nom du projet " %}</b>: {{project}}<br>
    <p>
        {% trans "Vous êtes invités à prendre part à ce projet dont la finalité est d’étudier dans quelle mesure les progrès d’apprentissage sont une motivation forte chez les humains à poursuivre un apprentissage sur une tâche donnée." %}
    </p>
    <b>{% trans "Les modalités de réalisation du projet seront les suivantes :" %} </b>
    <p>
        {% trans "Ce projet s'inscrit dans une démarche de compréhension des liens entre les mécanismes d'apprentissage et la motivation intrinsèque (propre à l’individu). En particulier, cette recherche vise à analyser les capacités de l’humain à suivre et évaluer son apprentissage (métacognition) pour mesurer ses progrès comme source de motivation à poursuivre ses efforts d’apprentissage. Notre but est d'observer à quel point les progrès d’apprentissage sont des moteurs d’endurance à une tâche et à mesurer la précision avec laquelle un individu est capable de les mesurer au cours de son apprentissage. Pour cela, vous serez amenés à utiliser une application numérique, un jeu sérieux d’attention, dans lequel sera évalué vos progrès d’apprentissage et vos comportements et perceptions vis-à-vis de celui-ci." %}
    </p>​
    <b>{% trans "Les bénéfices attendus du projet sont les suivants :" %}</b>
    <p>
        {% trans "Nous espérons déterminer des conditions dans lesquelles le progrès d’apprentissage est maximal. Nous espérons également établir un lien entre progrès d’apprentissage et la perception des progrès par l’apprenant. Le jeu proposé étant un serious games, il vous permettra dans tous les cas de vous stimuler cognitivement, et en particulier, vos capacités attentionnelles. Ce projet, financé par l’équipe Flowers (centre Inria Bordeaux SO) et a été autorisé par le Comité Opérationnel d’Evaluation des risques légaux et éthiques d’Inria. Pour de plus amples informations : http://www.inria.fr/institut/organisation/instances/coerle/presentation-du-coerle" %}</p>
​</section>
<section id="section-4">
    <center><h2>{% trans "VOTRE PARTICIPATION AU PROJET" %}</h2></center>
    <b>{% trans "Modalités de votre participation:" %}</b>
    <p>
        {% trans "Votre participation consiste, pour l’essentiel, à :" %}
        <ul type=square>
<!--            <li>-->
<!--                Faire usage des outils mis à disposition par l’équipe de recherche (application/jeu sur ordinateur). La durée d'utilisation des outils est de 30 minutes à raison de 4 à 5 fois par semaine (ne pas faire 2 séances le même jour) et ce, pendant 8 semaines consécutives.-->
<!--            </li>-->
<!--            <li>-->
<!--                Répondre à des questionnaires et à des évaluations psychométriques pour une durée totale de 1h20 à 2h (des pauses toutes les 30 mn). Pour certains questionnaires, une mesure sera faîte avant et après l'utilisation de l’application.-->
<!--            </li>-->
           <li>
               {% trans " Faire usage des outils mis à disposition par l’équipe de recherche (application/jeu sur ordinateur). La durée d'utilisation des outils est de 5 minutes à raison de 3 fois dans la semaine (ne pas faire 2 séances le même jour) et ce, pendant 1 semaine." %}
            </li>
            <li>
               {% trans " Il est impératif de suivre le planning des sessions, sans quoi, nous ne pourrons utiliser vos résultats pour notre étude. Le planning est comme suit : Jour 1 - session 1 -> Jour 2 session 2 -> Jour 5 - session 3. Par exemple, si votre première session est un lundi, vous devrez effectué la deuxième session le mardi et la dernière le vendredi." %}
            </li>
            <li>
              {% trans "  Répondre à des questionnaires au regard de la tâche que vous aurez effectuée." %}
            </li>
            <li>
               {% trans " Aucun risque particulier n’est à déplorer concernant votre participation à cette étude. De plus, cette participation vous donne également l’opportunité de savoir que la recherche se mobilise pour répondre à des enjeux majeurs relatifs à l'apprentissage et aux capacités cognitives des humains." %}
            </li>
            <li>
               {% trans " Aucune compensation financière n’est prévue pour votre participation, qui ne repose que sur votre libre choix et votre droit de retrait que vous pouvez exercer à tout moment de l’étude." %}
            </li>
        </ul>
    </p>
    ​
    <b>{% trans "Participation volontaire au projet :" %}</b>
    <p>
        {% trans "Après avoir lu et compris les informations contenues dans la partie « Présentation du projet», votre signature de ce formulaire indique que vous acceptez de participer au projet, et ce sans aucune contrainte ou pression extérieure. S’il vous manque des informations nécessaires à votre prise de décision, n’hésitez pas à demander un complément d’informations aux personnes contacts (voir ci-après)." %}
    </p>
    ​
    <b>{% trans "Retrait du projet à tout moment :" %}</b>
    <p>
        {% trans "Vous êtes totalement libre de mettre fin à votre participation au projet à n’importe quel moment. Il vous suffit d’en informer les personnes contacts (ci-après). Vous n’aurez aucune justification à apporter à votre retrait et vous n’encourrez aucune responsabilité." %}
    </p>
    <b>{% trans "Suite de votre retrait du projet :" %}</b>
    <p>
        {% trans "L’équipe de recherche pourra continuer à utiliser les renseignements vous concernant jusqu’au retrait de votre consentement, sauf si vous vous y opposez en l’indiquant aux personnes contacts. Dans ce cas, les renseignements vous concernant seront détruits." %}
    </p>
    <b>{% trans "Demande d’informations au cours du projet :" %}</b>
    <p>
        {% trans "Si vous avez des questions additionnelles sur le projet ou sur les droits en tant que participant à ces travaux de recherche, n’hésitez pas à en faire part aux personnes contacts mentionnées ci-après." %}
    </p>
    <b>{% trans "Information concernant les résultats principaux de la recherche :" %}</b>
    <p>
        {% trans "Si vous souhaitez obtenir un résumé écrit des principaux résultats de cette recherche ainsi que de leur utilisation, veuillez en faire la demande aux personnes contacts." %}
    </p>
</section>
<section id="section-5">
    <center><h2>{% trans "CONFIDENTIALITE ET LOI INFORMATIQUE & LIBERTES" %} </h2></center>
    <p>
        {% trans "Inria est très attentif et vigilant concernant les questions de protection des données à caractère personnel (DCP), il s’est d’ailleurs doté d’un Délégué à la Protection des Données (DPD) qui est chargé de s'assurer de la conformité d'Inria avec le Règlement européen sur la Protection des Données (RGPD)." %}
    </p>
    <b>{% trans "Ces données sont les suivantes :" %}</b>
    <p>
        {% trans "Les données collectées à partir de l'application sont des scores de réussite enregistrés automatiquement lors de l’utilisation du jeu. Ces données sont totalement anonymes dans la mesure où votre nom et prénom ne sont pas renseignés dans la base de données où figurent uniquement des matricules." %}
    </p>
    <b>{% trans "Ces données seront traitées de la manière suivante :" %}</b>
    <p>
        {% trans "Les données issues de l’application nous permettront d'étudier les mécanismes de l’apprentissage intrinsèquement motivés: les données collectées seront stockées dans une base de données, sur laquelle nous opérerons des analyses statistiques sur le progrès d’apprentissage et l’auto-évaluation de ces progrès lors de l’utilisation de l’application. Ces données anonymes ne seront pas utilisées à d’autres fins que l’étude des mécanismes d’apprentissage au travers de ce jeu." %}
    </p>
    <p>
        {% trans "Conformément à l'article 13 du Règlement relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE (règlement général sur la protection des données ou RGPD), veuillez trouver ci-dessous quelques informations concernant cette collecte de données :" %}
    <ul type=square>
        <li>
            {% trans "Cette collecte de données s’effectue sur la base du volontariat. Vous n’êtes en aucun cas tenu par voie réglementaire, contractuelle ou autres de fournir vos données." %}
        </li>
        <li>
           {% trans " À tout moment, vous pouvez décider d’arrêter le Projet et demander la suppression de vos données collectées." %}
        </li>
        <li>
           {% trans " Il est entendu que les données personnelles recueillies lors du projet sont confidentielles et que seuls les membres de l’équipe de recherche, identifiés ci-après, auront accès à ces données :" %}
            <ul type=square>
                <li>{% trans "M. OUDEYER Pierre-Yves, directeur d’équipe" %}</li>
                <li>{% trans "Mme. SAUZEON Hélène, professeure en Psychologie" %}</li>
                <li>{% trans "M. CLEMENT Benjamin, Post-doctorant sur le projet" %}</li>
                <li>{% trans "M. TEN Alexandr, Doctorant sur le projet" %}</li>
                <li>{% trans "M. ADOLPHE Maxime, Doctorant sur le projet" %}</li>
                <li>{% trans "M. BALAN Maxime, Stagiaire sur le projet" %}</li>
            </ul>
        </li>
        <li>
           {% trans " Chaque traitement de données à caractère personnel au sein d’Inria doit faire l’objet d’une déclaration auprès du DPD d’Inria." %}
        </li>
        <li>
           {% trans " Le représentant du responsable de traitement est le Directeur du Centre de Recherche Inria Bordeaux Sud-Ouest : Nicolas Roussel." %}
        </li>
        <li>
           {% trans " Aucun transfert de vos données vers un pays tiers ou vers une organisation internationale ne sera effectué" %}
        </li>
        <li>
           {% trans " Vos données seront conservées pour une durée maximale de 10 ans (temps requis pour la valorisation scientifique et éventuellement, leur utilisation pour des métaanalyses postérieures)." %}
        </li>
        <li>
           {% trans " Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant." %}
        </li>
        <li>
           {% trans " Vous pouvez donc accéder aux données vous concernant ou demander leur effacement. Vous disposez également d'un droit d’opposition, d’un droit de rectification et d’un droit à la limitation du traitement de vos données (cf. cnil.fr pour plus d’informations sur vos droits)." %}
        </li>
        <li>
            {% trans "Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter le DPD." %}
            <ul type="square">
                <li>
                    {% blocktrans %} Contacter le DPD par voie électronique : <a href="mailto:dpd@inria.fr">dpd@inria.fr</a>. Le DPD nommé par Inria est Madame Anne COMBE (<a href="mailto:anne.combe@inria.fr">anne.combe@inria.fr</a>){% endblocktrans %}
                </li>
                <li>
                   {% trans " Contacter le DPD par courrier postal : Le délégué à la protection des données Inria, 2004 route des Lucioles, BP 93, 06902 Sophia-Antipolis Cedex" %}
                </li>
            </ul>
           {% trans " Si vous estimez, après nous avoir contactés, que vos droits Informatique et Libertés ne sont pas respectés ou que l’étude n’est pas conforme aux règles de protection des données, vous pouvez adresser une réclamation à la CNIL" %}
        </li>
    </ul>
    <p>
        {% trans "Le présent formulaire d’information et de recueil de consentement éclairé est un document confidentiel et sensible, à ce titre il doit faire l’objet d’un traitement particulier tant concernant sa conservation que son archivage." %}
        </br>
        {% trans " L’exemplaire du formulaire dûment signé destiné au responsable du projet sera conservé au sein du service administratif et financier du Centre de recherche Inria concerné pendant une durée de quinze ans puis fera l’objet d’un versement au service des archives du Centre de recherche Inria concerné." %}
    </p>
</section>​
<section id="section-6">
    <center><h2>{% trans "PERSONNES CONTACTS" %}</h2></center>
    <div class="contacts">
        <div class="contact-card">
             <center>
                 <h4>TEN Alexandr</h4>
                 <i>{% trans "Doctorant" %}</i>
             </center>
            <p>📞 06.28.56.75.85</p>
            <p>✉️ <a href="mailto:alexandr.ten@inria.fr">alexandr.ten@inria.fr</a></p>
        </div>
        <div class="contact-card">
             <center>
                 <h4>ADOLPHE Maxime</h4>
                 <i>{% trans "Doctorant" %}</i>
             </center>
            <p>📞 06.50.93.02.86</p>
            <p>✉️ <a href="mailto:maxime.adolphe@inria.fr">maxime.adolphe@inria.fr</a></p>
        </div>
        <div class="contact-card">
             <center>
                 <h4>CLEMENT Benjamin</h4>
                 <i>{% trans "Post-doctorant" %}</i>
             </center>
            <p>📞 06.60.80.77.31</p>
            <p>✉️ <a href="mailto:benjamin.clement@inria.fr">benjamin.clement@inria.fr</a></p>
        </div>
         <div class="contact-card">
             <center>
                 <h4>BALAN Maxime</h4>
                 <i>{% trans "Stagiaire" %}</i>
             </center>
            <p>📞 06.64.03.89.41</p>
            <p>✉️ <a href="mailto:maxime.balan@inria.fr">maxime.balan@inria.fr</a></p>
        </div>
    </div>
</section>
<section id="section-7">
    {% comment %} <p>{% trans "Je soussigné.e:" %}
    <span class='consent-form'>
        <span><label for="nom">{% trans "Nom" %}</label></span><input type="text" value={{person.0}} name='nom' required/>
        <span><label for="prenom">{% trans "Prénom" %}</label></span><input type="text" value={{person.1}} name='prenom' required/>
    </span>
    </p> {% endcomment %}
    <p>
        {% trans "reconnais avoir lu et compris le présent formulaire d’informations concernant le projet " %}{{project}}{% trans " et consens volontairement à participer à ce projet de recherche. Je reconnais avoir été informé que je peux mettre fin à ma participation au projet à tout moment sans aucun motif à donner, en contactant simplement les personnes contacts référencées ci-dessus. Je reconnais que j’ai été informé sur le but et les modalités du projet, ainsi que les avantages, risques et inconvénients du projet. Je reconnais avoir obtenu les réponses mes questions de manière claire et précise. Je reconnais enfin avoir la possibilité de poser des questions additionnelles sur le projet ou sur mes droits, à tout moment pendant le projet, en communiquant avec les personnes contacts. Fait en deux exemplaires dont un sera remis au participant et un sera conservé par le responsable du projet." %}
    </p>
</section>