{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%} {% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
{% endblock %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>{{GREETING}}</h2>
           <p>Please, read carefully the consent form on the right. To provide your consent, check the box labeled "I have read and understood the terms of the study", and write "I consent" in the box below, then press Submit</p>
        </div>
        <div class="btn-box logout"> <a class="btn logout" href="{% url "user_logout" %}">Logout</a> </div>
    </div>


    <div class="main-panel">
        {% load crispy_forms_tags %}
        <form class="form" method="post">
            {% include TEXT with person=PERSON project=PROJECT%}
            {% crispy FORM %}
        </form>
    </div>
{% endblock %}
