{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%} {% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
{% endblock %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>{{CONTEXT.greeting}}</h2>
           <p>
               Pour donner votre consentement et participer à l'expérience:
               <ul>
                   <li>Lisez attentivement le formulaire de consentement sur la droite</li>
                   <li>Cochez la case "J'ai lu et compris les termes de cette étude</li>
                   <li>Écrivez "Je consens" dans la barre en dessous</li>
                   <li>Cliquez ensuite sur "Valider"</li>
               </ul>
        </div>
        <div class="btn-box logout"> <a class="btn logout" href="{% url "user_logout" %}">Se déconnecter</a> </div>
    </div>


    <div class="main-panel">
        {% load crispy_forms_tags %}
        <form class="form" method="post">
            {% include CONTEXT.text with person=CONTEXT.person project=CONTEXT.project%}
            {% crispy CONTEXT.form %}
        </form>
    </div>
{% endblock %}
