{% extends CONTEXT.page_props.base_html %}
{% block title %}{% endblock %}
{%load static%}
{% block js%}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static CONTEXT.page_props.style %}">
{% endblock %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>{{CONTEXT.greeting}}</h2>
           <p>Ici, vous pouvez voir votre progression dans l'expérience</p>
           {% include "progress_widget.html" with nb_sess=CONTEXT.page_props.nb_sess current=CONTEXT.current_sess %}
        </div>
        <a class="btn logout" href="{% url "user_logout" %}">Se déconnecter</a>
    </div>
    <div class="main-panel">
        {% include CONTEXT.page_props.instructions %}
        <a class="btn" href="{% url CONTEXT.page_props.task_url %}">Continuer</a>
    </div>
{% endblock %}
