
{% extends "base.html" %}
{% block content %}
<div class="container">
  {{context}}
  <div class="row justify-content-center">
      <button>
          <a href="{% url "app_MOT" %}">Link to MOT task</a>
      </button>
      {% comment %}
          <button>
              <a href="{% url "app_2D" %}">Link to app fish_2D (app V1)</a>
          </button>
          <button>
              <a href="{% url "app_3D" %}">Link to app 3D (app V0)</a>
          </button>
      {% endcomment %}
      <button>
          <a href="{% url "JOLD_lunar_lander" %}">Link to Lunar Lander</a>
      </button>
      <button>
          <a href="{% url "user_logout" %}">Logout</a>
      </button>
  </div>
</div>
{%endblock%}
