{% extends "base.html" %}
{% block title %} Flowers OL | Sign-in{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style_signup.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="sidenav">
    <div class="login-main-text">
       <h1>Flowers Online Lab</h1>
       <p>Se connecter ou s'inscrire pour accéder à l'expérience.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-7 col-sm-12">
        <div class="login-form">
            {% if CONTEXT.error %}
                <p><strong>Nom d'utilisateur ou mot de passe inconnu.</strong></p>
            {% endif %}
            <form class="form" method="post">
                {% crispy CONTEXT.form %}
                {% if not CONTEXT.study %}
                    {% include "includes/noextension.html" %}
                {% else %}
                    <div>
                        <p class="text-center register-link">
                            <a href={% url "signup_page" %}>Cliquez ici pour s'inscrire</a>
                        </p>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% include "includes/license_note.html" %}
{% endblock %}
