{% extends "base.html" %}
{% block title %} Flowers OL | Off-session {% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href={% static "css/jold_home.css" %}>
    <style>
        ul.next-dates {font-size: 16px}
        strong {font-size: 18px}
        img {display: block; margin: auto;}
    </style>
{% endblock %}
{% block content %}
    <div class="side-panel">
        <div class="side-info">
            <h2>Vous n'avez pas de session à compléter aujourd'hui</h2>
            <br>
            <strong> De futures sessions sont prévues : </strong>
            <ul class='next-dates'>
                {% for nextdate in CONTEXT.nextdates %}
                    <li>{{nextdate}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-box logout"> <a class="btn logout" href={% url "user_logout" %}>Se déconnecter</a> </div>
    </div>

    <div class="main-panel">
        <div class="svg-frame">
            <div class="svg-image"><img src={% static "images/off_session.svg" %}></div>
        </div>
    </div>
{% endblock %}
