{% extends "base.html" %}
{% block title %}{% endblock %}
{% block js%}
{% endblock %}
{% block css %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/style_signup.css' %}">
{% endblock %}
{% block nav%} {%endblock%}
{% load crispy_forms_tags %}
{% block content%}
<div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-7 col-sm-12">
        <div class="signup-form">
            <form action="{% url "sign_up"%}" class="form" method="post">
                {%crispy form_user%}
                {%crispy form_profile%}
                <div>
                    <p class="text-center register-link"><a href="{% url "home" %}">Click here to sign in</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}