{% extends "base.html" %}
{% block title %} {% endblock %}
{% block js%} {% endblock %}
{% block css %}
    {%load static%} <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h1>{{CONTEXT.heading}}</h1>
           <p>{{CONTEXT.text}}</p>
        </div>
        <div class="btn-box logout"> <a class="btn logout" href="{% url "user_logout" %}">Se déconnecter</a> </div>
    </div>

    <div class="main-panel">
        <div class="svg-frame">
            <div class="svg-image"><img src={% static "images/done.svg" %}></div>
        </div>
    </div>

{% endblock %}
