{% extends "base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/zpdes_app.css" %}">
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
    <div class="header-settings">
        <label for="participant_selector">Participant index:</label>
        <select id="participant_selector" name="participant_selector">
            {% for cdt, participants_list in participant_dict.items %}
                {% for participant in participants_list %}
                    <option value={{ participant }}>{{ participant }} {{ cdt }}: {{ forloop.counter0 }}</option>
                {% endfor %}
            {% endfor %}
        </select>
        <div class="slidecontainer">
            <h4>Episode number: <span id="episode_number">0</span></h4>
            <div>
                <button type="button" onclick=updateSliderFromButton(-1)>-</button>
                <input type="range" min="0" max="100" value="0" class="slider" id="slider">
                <button type="button" onclick=updateSliderFromButton(1)>+</button>
                <button type="button" id="button_play_pause" onclick=play_pause()> ►</button>
            </div>
            <div id="radio_group">
                <input type="radio" id="speed1" name="speed" value="0" checked>
                <label for="speed1">x1</label>
                <input type="radio" id="speed2" name="speed" value="1">
                <label for="speed2">x2</label>
                <input type="radio" id="speed3" name="speed" value="2">
                <label for="speed3">x10</label>
            </div>
        </div>
    </div>
    <div class="upper_row">
        <div class="main_graph">
            <!--- Path is initialized on participant mangdoline and episode 0---->
            <img id="main_graph_img_bandit"
                 src={% static 'images/zpdes_app/zpdes/Axelle/main_distrib/bandits_0.png' %}>
            <img id="main_graph_img_success"
                 src={% static 'images/zpdes_app/zpdes/Axelle/main_distrib/success_0.png' %}>
        </div>
        <div class="sub_graphs">
            <img id="sub_graphs_img" src={% static 'images/zpdes_app/zpdes/Axelle/radar_subs/0.png' %}>
        </div>
    </div>
    <div class="trajectory">
        <!---
        <img id="trajectory_main_img" src={% static 'images/zpdes_app/zpdes/Axelle/trajectory/main/0.png' %}>
        <img id="trajectory_results_img" src={% static 'images/zpdes_app/zpdes/Axelle/trajectory/results/0-10.png' %}>
    -->
    </div>
{% endblock %}
{% block js %}
<script>let participant_max = {% autoescape off %}{{ participant_max | safe }}{% endautoescape %};</script>
<script>let participant_dict = {% autoescape off %}{{ participant_dict | safe }}{% endautoescape %};</script>
<script>
    // Django template doesn't work, as a work around we us js:
    document.getElementById("slider").max = participant_max['Axelle'] - 5;
    // Initialize to first participant and index 0
    let select = document.getElementById('participant_selector');
    let slider = document.getElementById('slider');
    let participant = select.options[select.selectedIndex].value;
    let participant_group = 'zpdes';
    let episode_index = 0;
    let play_status = false;
    let intervalId;
    let speed_values = [1000, 500, 100];
    let speed_index = 0;

    // If user change participant (not called when loading the page for the first time):
    select.addEventListener('change', updateParticipant);
    slider.addEventListener('input', sliderChange, false);
    document.body.addEventListener('change', function (e) {
        let target = e.target;
        switch (target.id) {
            case 'speed1':
                speed_index = 0;
                play_status = false;
                clearInterval(intervalId);
                document.getElementById('button_play_pause').innerHTML = "►";
                break;
            case 'speed2':
                speed_index = 1;
                play_status = false;
                clearInterval(intervalId);
                document.getElementById('button_play_pause').innerHTML = "►";
                break;
            case 'speed3':
                speed_index = 2;
                play_status = false;
                clearInterval(intervalId);
                document.getElementById('button_play_pause').innerHTML = "►";
                break;
        }
    })

    function updateParticipant(e) {
        participant = e.target.value;
        is_in_zpdes = false;
        participant_dict['zpdes'].forEach(element => {
            if (element === participant) {
                is_in_zpdes = true
            }
        });
        if (is_in_zpdes) {
            participant_group = "zpdes"
        } else {
            participant_group = "baseline"
        }
        ;
        // reset speed_index to 0:
        speed_index = 0;
        // reset episode to 0:
        episode_index = 0;
        // change slider max:
        document.getElementById("slider").max = participant_max[participant] - 5;
        document.getElementById("slider").value = episode_index;
        document.getElementById("speed1").checked = "checked";
        // change path to images:
        change_all_paths(0, participant, participant_group)
        // Reset dynamic scene:
        play_status = false;
        clearInterval(intervalId);
        document.getElementById('button_play_pause').innerHTML = "►";
    }

    function change_all_paths(episode_index, participant, participant_group) {
        document.getElementById("main_graph_img_bandit").src = "static/images/zpdes_app/" + participant_group + "/" + participant + "/main_distrib/bandits_" + episode_index + ".png";
        if (participant_group == "zpdes") {
            document.getElementById("main_graph_img_success").src = "static/images/zpdes_app/" + participant_group + "/" + participant + "/main_distrib/success_" + episode_index + ".png";
        } else {
            document.getElementById("main_graph_img_success").src = "static/images/zpdes_app/" + participant_group + "/" + participant + "/main_distrib/bandits_" + episode_index + ".png";
        }
        document.getElementById("sub_graphs_img").src = "static/images/zpdes_app/" + participant_group + "/" + participant + "/radar_subs/" + episode_index + ".png";
        //document.getElementById("trajectory_main_img").src = "static/images/zpdes_app/" + participant + "/trajectory/main/" + episode_index + ".png";
        //document.getElementById("trajectory_results_img").src = "static/images/zpdes_app/" + participant + "/trajectory/results/" + episode_index + "-10.png";
    }

    function sliderChange(e) {
        episode_index = e.target.value;
        document.getElementById('episode_number').innerHTML = episode_index;
        change_all_paths(episode_index, participant, participant_group);
        play_status = false;
    }

    function updateSliderFromButton(value) {
        episode_index = parseInt(episode_index) + parseInt(value);
        if(parseInt(episode_index) < 0){
            episode_index++;
        }else if(episode_index == participant_max[participant] - 4) {
                    episode_index--;
        }
        else{
                document.getElementById('episode_number').innerHTML = episode_index;
                change_all_paths(episode_index, participant, participant_group);
        }
    }

    function play_pause() {
        play_status = !play_status;
        if (play_status) {
            play_loop();
            document.getElementById('button_play_pause').innerHTML = "&#9208;";
        } else {
            pause();
            document.getElementById('button_play_pause').innerHTML = "►";
        }
    }

    function play_loop() {
        intervalId = window.setInterval(function () {
            if (play_status) {
                episode_index++;
                document.getElementById('episode_number').innerHTML = episode_index;
                document.getElementById('slider').value++;
                if (episode_index <= participant_max[participant] - 6) {
                    change_all_paths(episode_index, participant, participant_group);
                } else {
                    play_status = false;
                    document.getElementById('button_play_pause').innerHTML = "►";
                    clearInterval(intervalId);
                }
            }
        }, speed_values[speed_index]);
    }

    function pause() {
        play_status = false;
        clearInterval(intervalId);
    }

</script>
{% endblock %}
