{% load i18n %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/style_app.css' %}">
<form id="request">{% csrf_token %}</form>
<div class="explanation-text">
  <p>
      {% blocktrans %}
          <li>Le but de cette expérience est de mesurer la capacité à faire la distinction entre des informations pertinentes et non pertinentes.</li>
        <li>Dans chaque essai, vous verrez une séquence de chiffres.</li>
        <li>Votre tâche est de vous concentrer sur le chiffre "7" et de répondre si le chiffre après le "7" est le "3" ou non.</li>
        <li>Si le chiffre après le "7" est le "3", veuillez appuyer sur la touche "<kbd>F</kbd>" de votre clavier le plus rapidement possible.</li>
        <li>Sinon, n'appuyez sur aucune touche.</li>
        <li>Vous aurez un retour sur le fait que votre réponse est correcte dans les essais pratiques suivants, mais aucun retour dans l'expérience principale.</li>
      {% endblocktrans %}
  </p>
</div>

