<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    main {
      padding: 200;
      margin: 200;
    }
  </style>

  <title>pre and post tests</title>
</head>

<!--<link rel="stylesheet" href="{% static 'css/style_app.css' %}">-->

<body>
<main>
<div class="explanation-text">

    <h3> Instructions </h3>
    <p>  
        <UL> 
        <li>The goal of this experiment is to measure the attention ability of multiple targets. </li> 
        <li>In each trial, you will see a brief presentation of a cross target with four stripe objects. </li>
        <li>You have to answer <b>two tasks </b>for each trial.</li> 
        <li>First, you have to answer <b>which of the lines are longer</b> using your keyboard.  </li>
        <UL>
        <li>If <b>the vertical line is longer</b>, then please press <b><kbd>"F"</kbd></b> key. </li>
        <li>If <b>the horizontal line is longer</b>, then please press <b><kbd>"J"</kbd></b> key. </li>
        </UL>
        <li>After this response, you have to answer <b>which of the four objects had the strong contrast stripe </b> by clicking one of four buttons. </li>
        <UL>
        <li> The "strong contrast" means that white and black colors are more differentiated.</li>
        </UL>
        <li>Please keep in mind that you have to answer at least the first question correctly. If not, your response for the second question will not be recorded.</li>
        <li>You can check the practice trials of this task from the following window.</li>
        </UL>>
    </p>

</div>

<h3> Practice trials </h3>
<p>
    <script src="./js/p5.js"></script>
    <script src="./js/app_loadblindness/config_tutorial.js"></script>
    <script src="./js/app_loadblindness/loadblindness.js"></script>
</p>

</main>
</body>
</html>
