<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    main {
      padding: 200;
      margin: 200;
    }
  </style>

  <title>pre and post tests</title>
</head>

<!--<link rel="stylesheet" href="{% static 'css/style_app.css' %}">-->

<body>
<main>
<div class="explanation-text">

    <h3> Instructions </h3>
    <p> 
 
        <li>The goal of this experiment is to measure the ability of spatial memories. </li> 
        <li>In each trial, you will first see the sequence of color changes in the nine objects.  </li>
        <li>Your task is to <b>remember the order</b> of these changes and to report the order after the sequence presentation is finished <b>by clicking the buttons in the order you saw.</b></li>
        <li>You can check the practice trials of this task from the following window.</li>
        </UL>
    </p>

</div>

<h3> Practice trials </h3>
<p>
  <iframe id="tutorial_demo"
  title="practice trials"
  width="640"
  height="480"
  src="./tutorials_workingmemory_task.html"></iframe>
</p>

</main>
</body>
</html>
