<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    main {
      padding: 200;
      margin: 200;
    }
  </style>

  <title>pre and post tests</title>
</head>

<!--<link rel="stylesheet" href="{% static 'css/style_app.css' %}">-->

<body>
<main>
<div class="explanation-text">

    <h3> Instructions </h3>
    <p> 
        <UL>  
        <li>The goal of this experiment is to measure the ability of memory capacity for photographs.</li> 
        <li>In this experiment, you will see a set of photographs one-by-one.  </li>
        <li>Your task is to <b>remember each photograph </b>and answer <b>whether the photograph is presented twice or not by pressing the key "f" as soon as possible</b>. </li> 
        <li>Some images will appear twice in a short-range, others in a long-range, and the others just once.</li>
        <li>In each trial, you will get feedback as to if your response was correct.</li>
        <UL>
            <li>If you answer correctly (that is, if you don't press the key for the first-time-image or if you do press the key for the image presented twice), you will see the word "Correct answer". </li>
        </UL>
        <UL>
            <li>If not, you will see the word "Wrong answer. "</li>
        </UL>
        <li>You can check the practice trials of this task from the following window.</li>
        </UL>
    </p>

</div>

<h3> Practice trials </h3>
<p>
    <script src="./js/p5.js"></script>
    <script src="./js/app_memorability/config_tutorial.js"></script>
    <script src="./js/app_memorability/memorability.js"></script>
</p>

</main>
</body>
</html>
