{% extends "base.html" %}
{% block title %}TASK{% endblock %}
{%load static%}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style_app.css' %}">
{% endblock %}

{% block content%}
  <form id="request">{% csrf_token %}</form>

  <div class="explanation-text">

      <h3> Instructions </h3>
      <p>
          <li>The goal of this experiment is to measure human counting ability.</li> 
          <li>In each rial, you will see a flash of multiple white circles. </li>
          <li>Your task is <b>to count these circles and answer how many circles were presented using a drop-down list</b>.</li> 
          <li>You can check the practice trials of this task from the following window. </li>
      </p>

  </div>

  <h3> Practice trials </h3>
  <p>
    {%load templates%}
    <iframe id="tutorial_demo"
    title="practice trials"
    width="640"
    height="480"
    src="{% static 'pre-post-tasks/instructions/tutorials_enumeration_task.html' %}"></iframe>
  </p>

{% endblock %}\