{% extends CONTEXT.participant.study.base_template %}
{% load i18n %}
{% load static %}
{% block title %} Flowers OL | Home {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
    <link rel="stylesheet" href="{% static 'css/cognitive_task.css' %}">
{% endblock %}
{% block js %}
    <script>
        const sessionActive = {{request.session.active_session}}
        function confirm_logout() {
            if (sessionActive && confirm('Current session is not finished, continue ?')) {
                window.location.href = "user_logout"
            }
        }
    </script>
    <script> screen_params = {% autoescape off %}{{CONTEXT.screen_params}}{% endautoescape %} </script>
    <script src="{% static 'js/utils/progress_bar/progress_bar.js' %}"></script>
    <script src="{% static 'js/utils/progress_bar/draw_pb.js' %}"></script>{% endblock %}

{% block content%}
    <div class="side-panel">
        <h2>{% trans "Salut" %}, {{CONTEXT.participant.user.username}} !</h2>
        <p>{% trans ", vous pouvez voir votre progression dans l'expérience" %}</p>
        <div class="side-info">
            <div class="content">
                {% include "includes/study_progression.html" with info=CONTEXT.participant.progress_info %}
                <div class="fade-screen"></div>
            </div>
        </div>
        <div class="btn-box" id="logout-button" onclick="confirm_logout()">
            <p class="btn logout">{% trans "Se déconnecter" %}</p>
        </div>
    </div>
    <div class="main-panel" id="pre_post_panel">
        <div class="row img_instructions">
        {% if CONTEXT.current_task %}
            <div class="container d-flex">
                <img id="img_researcher_pre_post" src="{% static 'images/researcher/researcher_shadow.png' %}" style="width: 50%">
                <div class="container instructions_container bubble bubble-bottom-left">
                    <div class="row d-flex justify-content-center">
                        <h3>Thank you to be here,</h3>
                        <div id="progress_bar"></div>
                        This is your progression in the cognitive evaluation, well done!
                    </div>
                    <div class="row justify-content-center">
                        Your new activity is the &nbsp;<strong> {{ CONTEXT.current_task.name }} </strong>&nbsp; task! <br>
                        Here are the guidelines for the next activity:
                        {% if CONTEXT.current_task %}
                            {% include CONTEXT.current_task.template_instruction_path %}
                        {% endif %}
                        When you are ready, press the start button bellow. You will
                        follow a quick tutorial and practice the task!
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-panel">
            <a class="btn" href={% url CONTEXT.current_task.view_name %}>Start</a>
        </div>
        {% endif %}
    </div>
{% endblock %}