{% extends CONTEXT.participant.study.base_template %}
{% load i18n %}
{% load static %}
{% block title %} Flowers OL | Home {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
{% endblock %}
{% block js %}
    <script>
        const sessionActive = {{request.session.active_session}}
        function confirm_logout() {
            if (sessionActive && confirm('Current session is not finished, continue ?')) {
                window.location.href = "user_logout"
            }
        }
    </script>
    <script> screen_params = {% autoescape off %}{{CONTEXT.screen_params}}{% endautoescape %} </script>
    <script src="{% static 'js/utils/iframe_size.js' %}"></script>
{% endblock %}
{% block content%}
    <div class="side-panel">
        <h2>{% trans "Salut" %}, {{CONTEXT.participant.user.username}} !</h2>
        <p>{% trans ", vous pouvez voir votre progression dans l'expérience" %}</p>
        <div class="side-info">
            <div class="content">
                {% include "includes/study_progression.html" with info=CONTEXT.participant.progress_info %}
                <div class="fade-screen"></div>
            </div>
        </div>
        <div class="btn-box" id="logout-button" onclick="confirm_logout()">
            <p class="btn logout">{% trans "Se déconnecter" %}</p>
        </div>
    </div>
    <div class="main-panel">
        {% if CONTEXT.current_task %}
            {% include CONTEXT.current_task.template_instruction_path %}
            <div class="row justify-content-center">
                <iframe id="iframe_tutorial" title="practice trials" src="{% url 'tutorial' task_name=CONTEXT.current_task.name %}"></iframe>
            </div>
            <div class="btn-panel">
                <a class="btn" href={% url CONTEXT.current_task.view_name %}>Start</a>
            </div>
        {% endif %}
    </div>
{% endblock %}