{% load i18n %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/style_app.css' %}">
<form id="request">{% csrf_token %}</form>
<div class="explanation-text">
  <p>
      {% blocktrans %}
          <UL>
            <li>Le but de cette expérience est de mesurer la capacité à rediriger votre attention.</li>
            <li>Dans chaque essai, vous verrez un chiffre appartenant à l'ensemble {1-4,6-9} sur un fond rouge ou bleu.</li>
            <li>Selon la couleur de fond, votre tâche change.</li>
            <li>Pour le fond bleu:</li>
              <UL>
                <li>  Vous devez déterminer si le chiffre présenté est pair ou impair en appuyant respectivement sur les touches "J" et "F".
              </UL>
            <li>Pour le fond rouge: .</li>
              <UL>
                <li>  Vous devez déterminer si le chiffre présenté est supérieur ou inférieur à 5 en appuyant respectivement sur les touches "J" et "F".</li>
              </UL>
          </UL>
        {% endblocktrans %}
  </p>
</div>
