enumeration:
The goal of this experiment is to measure human counting ability.
In each trial, you will see a flash of multiple white circles.
Your task is to count these circles and answer how many circles were presented using a drop-down list.
You can check the practice trials of this task from the following window.  "
----------------------------------------------------------------------------------------------------------------------
Le but de cette expérience est de mesurer la capacité humaine d'énumération.
Dans chaque essai, vous verrez un flash de plusieurs cercles blancs.
Votre tâche est de compter ces cercles et de sélectionner le nombre de cercles présentés à l'aide d'une liste déroulante..
Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.  "
######################################################################################################################
gonogo:
The goal of this experiment is to measure the ability to distinguish between relevant and irrelevant information.
In each trial, you will see a sequence of numbers.
Your task is to focus on the number "7" and answer whether the number after the "7" is the "3" or not.
If the number after "7" is "3", please press the key "<kbd>F</kbd>" on your keyboard as soon as possible.
If not, please don't press any key.
You will get feedback about if your answer is correct in the following practice trials, but no feedback in the main experiment.
----------------------------------------------------------------------------------------------------------------------
Le but de cette expérience est de mesurer la capacité à faire la distinction entre des informations pertinentes et non pertinentes.
Dans chaque essai, vous verrez une séquence de chiffres.
Votre tâche est de vous concentrer sur le chiffre "7" et de répondre si le chiffre après le "7" est le "3" ou non.
Si le chiffre après le "7" est le "3", veuillez appuyer sur la touche "<kbd>F</kbd>" de votre clavier le plus rapidement possible.
Sinon, n'appuyez sur aucune touche.
Vous aurez un retour sur le fait que votre réponse est correcte dans les essais pratiques suivants, mais aucun retour dans l'expérience principale.
######################################################################################################################
loadblindness:

The goal of this experiment is to measure the attention ability of multiple targets.
In each trial, you will see a brief presentation of a cross target with four stripe objects.
You have to answer two tasks for each trial.
First, you have to answer which of the lines are longer using your keyboard.

If the vertical line is longer, then please press <kbd>"F"</kbd> key.
If the horizontal line is longer, then please press <kbd>"J"</kbd> key.

After this response, you have to answer which of the four objects had the strong contrast stripe  by clicking one of four buttons.

 The "strong contrast" means that white and black colors are more differentiated.

Please keep in mind that you have to answer at least the first question correctly. If not, your response for the second question will not be recorded.
You can check the practice trials of this task from the following window.

----------------------------------------------------------------------------------------------------------------------

Le but de cette expérience est de mesurer la capacité d'attention vers des cibles multiples.
Dans chaque essai, vous verrez une brève présentation d'une cible (forme de croix) avec quatre objets à rayures.
Vous devez répondre à deux tâches pour chaque essai.
Premièrement, vous devez retrouver la direction (horizontale ou verticale) de la ligne la plus longue en utilisant votre clavier.

Si la ligne verticale est plus longue, alors appuyez sur la touche <kbd>"F"</kbd>.
Si la ligne horizontale est plus longue, alors veuillez appuyer sur la touche <kbd>"J"</kbd>.

Après cette réponse, vous devez retrouver la position de l'objet avec le plus fort contraste en cliquant sur l'un des quatre boutons.

Le "fort contraste" signifie que les couleurs noires se distinguent nettement des couleurs blanches.

N'oubliez pas que vous devez répondre correctement à au moins la première question. Dans le cas contraire, votre réponse à la deuxième question ne sera pas enregistrée.
Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.


######################################################################################################################
memo1:

The goal of this experiment is to measure the ability of memory capacity for photographs.
In this experiment, you will see a set of photographs one-by-one.
Your task is to remember each photograph and answer whether the photograph is presented twice or not by pressing the key "f" as soon as possible.
Some images will appear twice in a short-range, others in a long-range, and the others just once.
In each trial, you will get feedback as to if your response was correct.

  If you answer correctly (that is, if you don't press the key for the first-time-image or if you do press the key for the image presented twice), you will see the word "Correct answer".


  If not, you will see the word "Wrong answer. "

You can check the practice trials of this task from the following window.

----------------------------------------------------------------------------------------------------------------------
memo1:

Le but de cette expérience est de mesurer la capacité de mémorisation de photographies.
Dans cette expérience, vous allez voir un ensemble de photographies une par une.
Votre tâche est de vous souvenir de chaque photographie et de répondre si la photographie est présentée deux fois ou non en appuyant sur la touche "f" le plus rapidement possible.
Certaines images apparaîtront deux fois dans une courte portée, d'autres dans une longue portée, et les autres une seule fois.
À chaque essai, vous aurez un retour pour savoir si votre réponse était correcte.

  Si vous répondez correctement (c'est-à-dire si vous n'appuyez pas sur la touche pour l'image présentée pour la première fois ou si vous appuyez sur la touche pour l'image présentée deux fois), vous verrez le mot " Réponse correcte ".


  Si ce n'est pas le cas, vous verrez le mot "Réponse erronée. "

Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.

######################################################################################################################
memo2:

The goal of this experiment is to measure the ability of memory capacity for photographs.
In this experiment, you will see a set of photographs one-by-one.
Your task is to remember each photograph and answer whether the photograph is presented twice or not by pressing the key "f" as soon as possible.
Some images will appear twice in a short-range, others in a long-range, and the others just once.
In each trial, you will get feedback as to if your response was correct.

  If you answer correctly (that is, if you don't press the key for the first-time-image or if you do press the key for the image presented twice), you will see the word "Correct answer".


  If not, you will see the word "Wrong answer. "

You can check the practice trials of this task from the following window.

----------------------------------------------------------------------------------------------------------------------
memo2:

Le but de cette expérience est de mesurer la capacité de mémorisation de photographies.
Dans cette expérience, vous allez voir un ensemble de photographies une par une.
Votre tâche est de souvenir de chaque photographie et de répondre si la photographie est présentée deux fois ou non en appuyant sur la touche "f" le plus rapidement possible.
Certaines images apparaîtront deux fois dans une courte portée, d'autres dans une longue portée, et les autres une seule fois.
À chaque essai, vous aurez un retour pour savoir si votre réponse était correcte.

  Si vous répondez correctement (c'est-à-dire si vous n'appuyez pas sur la touche pour l'image présentée pour la première fois ou si vous appuyez sur la touche pour l'image présentée deux fois), vous verrez le mot " Réponse correcte ".


  Si ce n'est pas le cas, vous verrez le mot "Réponse erronée. "

Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.

######################################################################################################################
memo3:

The goal of this experiment is to measure the ability of memory capacity for photographs.
In this experiment, you will see a set of photographs one-by-one.
Your task is to remember each photograph and answer whether the photograph is presented twice or not by pressing the key "f" as soon as possible.
Some images will appear twice in a short-range, others in a long-range, and the others just once.
In each trial, you will get feedback as to if your response was correct.

  If you answer correctly (that is, if you don't press the key for the first-time-image or if you do press the key for the image presented twice), you will see the word "Correct answer".


  If not, you will see the word "Wrong answer. "

You can check the practice trials of this task from the following window.

----------------------------------------------------------------------------------------------------------------------
memo3:

Le but de cette expérience est de mesurer la capacité de mémorisation de photographies.
Dans cette expérience, vous allez voir un ensemble de photographies une par une.
Votre tâche est de souvenir de chaque photographie et de répondre si la photographie est présentée deux fois ou non en appuyant sur la touche "f" le plus rapidement possible.
Certaines images apparaîtront deux fois dans une courte portée, d'autres dans une longue portée, et les autres une seule fois.
À chaque essai, vous aurez un retour pour savoir si votre réponse était correcte.

  Si vous répondez correctement (c'est-à-dire si vous n'appuyez pas sur la touche pour l'image présentée pour la première fois ou si vous appuyez sur la touche pour l'image présentée deux fois), vous verrez le mot " Réponse correcte ".


  Si ce n'est pas le cas, vous verrez le mot "Réponse erronée. "

Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.

######################################################################################################################
taskswitch:

The goal of this experiment is to measure the ability to switch your attention.
In each trial, the instruction word "Color" or "Shape" will be shown to you.
Depending on the instruction word, your task changes.
For the "Color" trial, you have to answer whether the following object is "blue" or "red."

  Please press "f" or "j" for the red or blue, respectively, as soon as possible.

For the "Shape" trial, you have to answer whether the following object is "square" or "circle."

  Please press "f" or "j" for the square or circle, respectively, as soon as possible.

You can check the practice trials of this task from the following window.

----------------------------------------------------------------------------------------------------------------------

Le but de cette expérience est de mesurer la capacité à rediriger votre attention.
Dans chaque essai, le mot d'instruction "Couleur" ou "Forme" vous sera montré.
Selon le mot d'instruction, votre tâche change.
Pour l'épreuve "Couleur", vous devez déterminer si l'objet présenté est "bleu" ou "rouge." .

  Veuillez appuyer sur "f" ou "j" pour le rouge ou le bleu, respectivement, le plus rapidement possible.

Pour l'épreuve "Forme", vous devez répondre si l'objet suivant est "carré" ou "cercle" .

  Veuillez appuyer sur "f" ou "j" pour le carré ou le cercle, respectivement, dès que possible.

Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.

######################################################################################################################
working memory:
The goal of this experiment is to measure the ability of spatial memories.
In each trial, you will first see the sequence of color changes in the nine objects.
Your task is to remember the order of these changes and to report the order after the sequence presentation is finished by clicking the buttons in the order you saw.
You can check the practice trials of this task from the following window.

----------------------------------------------------------------------------------------------------------------------
Le but de cette expérience est de mesurer la capacité des mémoires spatiales.
Dans chaque essai, vous verrez d'abord la séquence des changements de couleur de neuf objets.
Votre tâche est de souvenir de l'ordre de ces changements et de rapporter cet ordre une fois la présentation de la séquence terminée en cliquant sur les boutons dans l'ordre que vous avez vu..
Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.
####################
"Voici votre progression dans l'évaluation cognitive, bravo 👏👏! "
This is your progression in the cognitive evaluation, well done 👏👏!

<h3> Merci pour votre participation, </h3>
<h3>Thank you for your participation,</h3>

    Votre nouvelle activité est la tâche:&nbsp;<strong> {{ CONTEXT.current_task.name }} </strong>&nbsp;!
    <br/>
    Voici les consignes pour cette nouvelle activité:
    {% if CONTEXT.current_task %}
        {% include CONTEXT.current_task.template_instruction_path %}
    {% endif %}
    Quand vous êtes prêt, appuyez sur le boutton start en dessous. Vous suivrez un tutoriel rapide
    puis vous pourrez pratiquer la tâche.
    Your new activity is the &nbsp;<strong> {{ CONTEXT.current_task.name }} </strong>&nbsp; task!
    <br/>
    Here are the guidelines for the next activity:
    {% if CONTEXT.current_task %}
        {% include CONTEXT.current_task.template_instruction_path %}
    {% endif %}
    When you are ready, press the start button bellow. You will
    follow a quick tutorial and practice the task!