{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_app.css' %}">
<div class="explanation-text">
  <h3> Instructions </h3>
  <p>
      {% blocktrans %}
            <li>Le but de cette expérience est de mesurer la capacité des mémoires spatiales.</li>
            <li>Dans chaque essai, vous verrez d'abord la séquence des changements de couleur de neuf objets.</li>
            <li>Votre tâche est de souvenir de <b>l'ordre de ces changements</b>et de rapporter cet ordre une fois la présentation </li>
                de la séquence terminée <b>en cliquant sur les boutonsdans l'ordre que vous avez vu</b> .</li>
            <li>Vous pouvez vérifier les essais pratiques de cette tâche à partir de la fenêtre suivante.</li>

      {% endblocktrans %}
  </p>
</div>
