{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_app.css' %}">
<div class="explanation-text">
  <p>
      {% blocktrans %}
            <li>Le but de cette expérience est de mesurer votre capacité de mémoire spatiale.</li>
            <li>Dans chaque essai, vous verrez une séquence de changements de couleur de neuf objets.</li>
            <li>Votre tâche est de souvenir de <b>l'ordre de ces changements</b >et de rapporter cet ordre une fois la présentation
                de la séquence terminée <b>en cliquant sur les boutons dans l'ordre que vous avez vu</b> .</li>
      {% endblocktrans %}
  </p>
</div>
