{% load i18n %}
{% blocktrans %}
<p>
    <h4> Ce questionnaire concerne vos habitudes de jeux <b> avant l'année dernière. </b> </h4>
    Pour chaque type de jeux, spécifiez le nombre d'heures joués par semaine quand vous jouez le plus.
    Il vous sera donné la possibilité de choisir parmi 6 réponses différentes: Jamais, Moins d'une heure, Entre 1 et 3 heures,
    Entre 3 et 5 heures, Plus de 10 heures. Une seule réponse possible. Si votre réponse est à la limite, merci de choisir
    l'option la plus basse (ex: si 3 heures par semaines, choisir "Entre 1 et 3 heures"). <br>
    Si vous jouez à Fortnite et/ou Minecraft, choisir: <br>
    Fortnite: Save the world ou Battle Royale =  First/Third Person Shooters
    Fortnite Creative = Puzzle
    Minecraft = Puzzle

</p>
{% endblocktrans %}