<!DOCTYPE html>
<html lang="en">
       <head>
              <meta charset="UTF-8">
              <title>{% block title %} APP_INTERFACE {% endblock %}</title>
              {%load static%}
              <script src="{% static 'js/p5.min.js' %}"></script>
              <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
              <script src="{% static 'js/addScreenPositionFunction.js' %}"></script>
              <script src="{% static 'js/seedrandom.min.js' %}"></script>
              <script src="{% static 'js/Box2d.min.js' %}"></script>
              <script src="{% static 'js/easeljs.min.js' %}"></script>
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                    crossorigin="anonymous">
              {% block css %}
              <!-- Just to add some other css files (as for example the app interface) -->
              {% endblock %}
       </head>
       <body>
              {% block nav %}
              {% endblock %}
              {% block content %}
              {%endblock%}
       </body>
       <footer>
              {% block js %}
              <!-- Just to add some other js files (as for example the app interface) -->
              {% endblock %}
       </footer>
</html>
