<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} APP_INTERFACE {% endblock %}</title>
        {%load static%}
        <script src="{% static 'js/csrfControl.js' %}"></script>
        <script src="{% static 'js/p5.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/JOLD/seedrandom.min.js' %}"></script>
        <script src="{% static 'js/JOLD/Box2d.js' %}"></script>
        <script src="{% static 'js/JOLD/easeljs.min.js' %}"></script>
        {% block css %}
            <link rel="stylesheet" href="{% static 'css/joldbase.css' %}">
        {% endblock %}
       </head>
       <body>
              {% block nav %}
              {% endblock %}
              {% block content %}
              {%endblock%}
       </body>
       <footer>
              {% block js %}
              <!-- Just to add some other js files (as for example the app interface) -->
              {% endblock %}
       </footer>
</html>
