.basic-likert-widget {
    width: 100%;
    min-width: 100%;
}

.basic-likert-widget .likert-header {
    display: flex;
    margin-bottom: 1em;
}
.basic-likert-widget .header-padding {
    flex-basis: 40%;
}
.basic-likert-widget .header-items {
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;

}
.basic-likert-widget .header-item {
    display: flex;
    overflow-x: visible;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}
.basic-likert-widget .likert-row {
    padding: 1em 0 1em 0;
    display: flex;}

.basic-likert-widget .row-prompt {
    flex-basis: 40%;
    overflow-wrap: break-word;
    padding-left: 1em;
    padding-right: 1em;
}
.basic-likert-widget .row-input {
    display: flex;
    justify-content: space-around;
    flex-basis: 60%;
}

/* The box */
.basic-likert-widget .input-element {
    cursor: pointer;
    font-size: 40px; /* controls radio button size */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    margin: 0;
}
/* Hide the browser's default radio button */
.basic-likert-widget .input-element input {
    display: none;
    cursor: pointer;
}
/* Create a custom radio button */
.basic-likert-widget .radio-button {
    height: .5em;
    width: .5em;
    padding: 10%;
    background-color: white;
    border-radius: 20%;
    border: 1px solid black;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.basic-likert-widget .radio-button:after {content: "";}
/* Show the indicator (dot/circle) when checked */
.basic-likert-widget .input-element input:checked ~ .radio-button:after {
    display: flex;
}
/* Style the indicator (dot/circle) */
.basic-likert-widget .input-element .radio-button:after {
    width: 100%;
    height: 100%;
	border-radius: 20%;
	background: black;
}

.empty-row .basic-likert-widget .likert-row {
    background-color: #F8D7DB;
    /* padding: 1em 0 1em 0; */
    border-radius: 10px;
}

.empty-row .basic-likert-widget .likert-row.odd-row {
     background-color: none;
 }

.basic-likert-widget .odd-row {
    background-color: #e3e3e3;
    border-radius: 10px;
}

.form-row.likert-form-row .form-group {
    margin-bottom: 1px !important;
    margin-top: 1px !important;
    width: 100%
}
