:root {
  --min-width-plrL-plrL: 150px;
  --slider-width-plrL: 100%;
  --thumb-height-plrL: 30px;
  --thumb-width-plrL: 15px;
  --thumb-rad-plrL: 15px;
  --thumb-margin-top-plrL: -11.25px;
  --track-height-plrL: 7.5px;
  --track-shadow-plrL: 0px 0px 3px 3px #57a8ff, 0px 0px 5px 5px white;
}

.polar-likert-widget {
    background-color: white;
    width: 70%;
}

.polar-likert-widget > input[type=range].slider {
    -webkit-appearance: none;
    width: var(--slider-width-plrL);
}
.polar-likert-widget > input[type=range].slider:focus {
    outline: none;
    box-shadow: var(--track-shadow-plrL);
}
.polar-likert-widget > input[type=range].slider::-webkit-slider-runnable-track {
    width: var(--slider-width-plrL);
    height: var(--track-height-plrL);
    min-width: var(--min-width-plrL);
    cursor: pointer;
    background: #2e2e2e;
}
.polar-likert-widget > input[type=range].slider::-webkit-slider-thumb {
    border: 2px solid #2e2e2e;
    height: var(--thumb-height-plrL);
    width: var(--thumb-width-plrL);
    border-radius: var(--thumb-rad-plrL);
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: var(--thumb-margin-top-plrL);
    z-index: 5;
    position: relative;
}
.polar-likert-widget > input[type=range].slider:focus::-webkit-slider-runnable-track {
    box-shadow: var(--track-shadow-plrL);
}
.polar-likert-widget > input[type=range].slider::-moz-range-track {
    margin-top: 5px;
    width: var(--slider-width-plrL);
    height: var(--track-height-plrL);
    min-width: var(--min-width-plrL);
    cursor: pointer;
    background: #2e2e2e;
}
.polar-likert-widget > input[type=range].slider::-moz-range-thumb {
    border: 2px solid #2e2e2e;
    height: var(--thumb-height-plrL);
    width: var(--thumb-width-plrL);
    border-radius: var(--thumb-rad-plrL);
    background: #ffffff;
    cursor: pointer;
    z-index: 50;
    position: relative;
}
.polar-likert-widget > input[type=range].slider::-ms-track {
    width: var(--slider-width-plrL);
    height: var(--track-height-plrL);
    min-width: var(--min-width-plrL);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.polar-likert-widget > input[type=range].slider::-ms-fill-lower {
    background: #000000;
}
.polar-likert-widget > input[type=range].slider::-ms-fill-upper {
    background: #000000;
}
.polar-likert-widget > input[type=range].slider::-ms-thumb {
    border: 2px solid #2e2e2e;
    height: var(--thumb-height-plrL);
    width: var(--thumb-width-plrL);
    border-radius: var(--thumb-rad-plrL);
    background: #ffffff;
    cursor: pointer;
    z-index: 50;
    position: relative;
}
.polar-likert-widget > input[type=range].slider:focus::-ms-fill-lower {
    box-shadow: var(--track-shadow-plrL);
}
.polar-likert-widget > input[type=range].slider:focus::-ms-fill-upper {
    box-shadow: var(--track-shadow-plrL);
}

.polar-likert-widget > .ticks {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: calc(var(--thumb-width-plrL)*.5);
    padding-right: calc(var(--thumb-width-plrL)*.5);
}
.polar-likert-widget > .ticks > .tick {
    position: relative;
    display: flex;
    justify-content: center;
    width: 2px;
    background: #a3a3a3;
    height: 10px;
    line-height: calc(var(--thumb-width-plrL)*5);
    z-index: 1;
}
.polar-likert-widget > .ticks > .major {height: 20px;}

.polar-likert-widget > .annotations {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.polar-likert-widget > .annotations > .lo {max-width: 15%;}
.polar-likert-widget > .annotations > .hi {max-width: 15%; text-align: right}
