:root {
  --min-width-rngL: 150px;
  --slider-width-rngL: 100%;
  --thumb-height-rngL: 20px;
  --thumb-width-rngL: 40px;
  --thumb-rad-rngL: 10px;
  --thumb-margin-top-rngL: -3px;
  --track-height-rngL: 14px;
  --track-shadow-rngL: 0px 0px 3px 3px #57a8ff, 0px 0px 5px 5px white;
}
.range-likert-widget {
  background-color: white;
  width: 70%;
}

.range-likert-widget > input[type=range].slider {
    -webkit-appearance: none;
    width: var(--slider-width-rngL);
}
.range-likert-widget > input[type=range].slider:focus {
    outline: none;
    box-shadow: var(--track-shadow-rngL);
}
.range-likert-widget > input[type=range].slider::-webkit-slider-runnable-track {
    width: var(--slider-width-rngL);
    height: var(--track-height-rngL);
    min-width: var(--min-width-rngL);
    cursor: pointer;
    background: #2e2e2e;
}
.range-likert-widget > input[type=range].slider::-webkit-slider-thumb {
    border: 2px solid #2e2e2e;
    height: var(--thumb-height-rngL);
    width: var(--thumb-width-rngL);
    border-radius: var(--thumb-rad-rngL);
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: var(--thumb-margin-top-rngL);
}
.range-likert-widget > input[type=range].slider:focus::-webkit-slider-runnable-track {
    box-shadow: var(--track-shadow-rngL);
}
.range-likert-widget > input[type=range].slider::-moz-range-track {
  width: var(--slider-width-rngL);
  height: var(--track-height-rngL);
  min-width: var(--min-width-rngL);
  cursor: pointer;
  background: #2e2e2e;
}
.range-likert-widget > input[type=range].slider::-moz-range-thumb {
  border: 2px solid #2e2e2e;
  height: var(--thumb-height-rngL);
  width: var(--thumb-width-rngL);
  border-radius: var(--thumb-rad-rngL);
  background: #ffffff;
  cursor: pointer;
}
.range-likert-widget > input[type=range].slider::-ms-track {
  width: var(--slider-width-rngL);
  height: var(--track-height-rngL);
  min-width: var(--min-width-rngL);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-likert-widget > input[type=range].slider::-ms-fill-lower {
  background: #000000;
}
.range-likert-widget > input[type=range].slider::-ms-fill-upper {
  background: #2e2e2e;
}
.range-likert-widget > input[type=range].slider::-ms-thumb {
  border: 2px solid #2e2e2e;
  height: var(--thumb-height-rngL);
  width: var(--thumb-width-rngL);
  border-radius: var(--thumb-rad-rngL);
  background: #ffffff;
  cursor: pointer;
}
.range-likert-widget > input[type=range].slider:focus::-ms-fill-lower {
  box-shadow: var(--track-shadow-rngL);
}
.range-likert-widget > input[type=range].slider:focus::-ms-fill-upper {
    box-shadow: var(--track-shadow-rngL);
}
.range-likert-widget > .ticks {
  display: flex;
  text-align:center;
  min-width: var(--min-width-rngL);
}
.range-likert-widget > .ticks > .tick {
  display: inline-block;
  vertical-align: top;
  border-right: .1em solid lightgray;
  text-align: center;
  font-size: 14px;
  padding: 0 0.5em;
  position: relative;
  margin-bottom: 10px;
}
.range-likert-widget > .ticks > .tick:last-child {border-right:0px;}
