body {background-color: #3D3D3E}

.canvas {
    border: 5px solid #252938;
    display: block;
    position: absolute;
    width: 800px;
    min-width: 800px;
    max-width: 100%;
    height: 600px;
    min-height: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.log{
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 20px;
    width: 780px;
    background-color: black;
    color: #05ff2f;
    padding: 15px;
    font-family: "Courier New", monospaced;
};
