body {
    font-family: "Lato", sans-serif;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 15px; /* change this to whatever height you want it */
}
.main-head{
    height: 150px;
    background: #FFF;
}
.info_container{
    height: 100%;
    margin-left: 30%;
    position: absolute;
    padding-top: 5%;
    padding-left: 2%;
}

.sidenav{
    color: white;
    overflow-x: hidden;
    padding: 5% 2% 5% 2%;
    width: 30%;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
}
.sidenav-block h2{
    font-weight: 300;
}

.progress-list{}
.progress-list li {
    font-size: 18px;
    position: relative;
    margin: 1em 0;
}
.progress-list li.sess_incomplete {
    color: #666666;
}
.progress-list li.sess_current {
    color: white;
}
.progress-list li.sess_complete {
    color: white;
    text-decoration: line-through;

}

.logout-continer{
    margin: 0 auto;
}
.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px white;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: black;
  background-color: white;
}
/* old-school "down" effect on clic + color tweak */
.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
/* Firefox: removes the inner border shown on focus */
.btn::-moz-focus-inner {
  border: none;
}
/* inverse colors on hover */
.btn:hover {
  color: white;
  border-color: currentColor;
  background-color: black;
}
/* make sure we have a visible focus ring */
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(25, 216, 255, 0.5),
    0 0 0 1.5px rgba(25, 216, 255, 0.5);
}
