<p style="color:red;font-size:12px;">
    Vous essayez d'accéder au site sans utiliser une extension valide (e.g. flowers-mot.bordeaux.inria.fr/<b>study=title_of_study</b>).
    Vous ne pourrez pas vous inscrire à moins d'utiliser le lien d'origine donné par les responsables de l'expérience.
    Veuillez utiliser le <i>lien d'origine</i> avec l'extension appropriée pour procéder à l'inscription.
    Si vous êtes déjà inscrits, vous pouvez ignorer ce message et vous connecter depuis la page d'accueil du site.
</p>
