{% extends "base.html" %}
{% block title %} {% endblock %}
{%load static%}
{% block css %}
    <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeLikert.css" %}">
    <link rel="stylesheet" href="{% static "css/basicLikert.css" %}">
{% endblock %}
{% block js%}
    <script src="{% static 'js/utils/slider.js' %}"></script>
{% endblock %}
{% block nav%} {%endblock%}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>{{Username}}, </h2>
            <p>
                Merci de prendre quelques minutes de votre temps pour participer à notre expérience! Nous avons besoin
                de récolter certaines informations complémentaires: ces données seront nécessaires lors de l'analyse
                des résultats. Nous vous assurons qu'elles ne seront pas utilisées dans d'autres buts. Pour valider,
                appuyez sur le boutton "submit" situé en dessous du questionnaire.
            </p>
        </div>
        <div class="btn-box logout"> <a class="btn logout" href="{% url "user_logout" %}">Logout</a> </div>
    </div>
    <div class="main-panel">
        {% load crispy_forms_tags %}
        <form class="form" method="post">
            {% crispy FORM %}
        </form>
    </div>
{% endblock %}
