{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/jold_home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_widgets.css" %}">
{% endblock %}
<div class="example-box" id="id-example-box">
    <div class="prompt"> 1. La réponse à cette question correspond à la position du curseur: </div>
    <div class="range-likert-widget">
        <div class="ticks">
            <div class="tick" style="width:calc(100%/4)">Par ici</div>
            <div class="tick" style="width:calc(100%/4)">Ici</div>
            <div class="tick" style="width:calc(100%/4)">Ou ici</div>
            <div class="tick" style="width:calc(100%/4)">Ou peut-être ici</div>
        </div>
        <input class = "slider" type = "range" name = example-range value = 50 min = 1 max = 100 step = 1 />
    </div>

    <br style="display:block; margin: 50px 0;"/><hr/>

    <div class="prompt"> 2. Comme pour (1), la réponse à cette question correspond à la position du curseur: </div>
    <div class="polar-likert-widget">
        <div class="ticks">
            <span class="tick major"></span>
            {% with ''|center:18 as range %}
                {% for _ in range %}
                    <span class="tick"></span>
                {% endfor %}
            {% endwith %}
            <span class="tick major"></span>
        </div>
        <input class = "slider" type = "range" name = 'example-polar' value = 10 min = 1 max = 20 step = 1 />
        <div class="annotations">
            <div class="lo">Il peut être très faible</div>
            <div class="hi">Ou très élevé</div>
        </div>
    </div>

    <br style="display:block; margin: 50px 0;"/><hr/>

    <div class="prompt"> 3. Vous pouvez également voir ce genre de format: </div>
    <div class="basic-likert-widget">
            <div class="likert-header">
                <div class="header-padding"></div>
                <div class="header-items">
                        <div class="header-item" style="width:calc(100%/5)">Pas du tout d'accord</div>
                        <div class="header-item" style="width:calc(100%/5)">Plutôt pas d'accord</div>
                        <div class="header-item" style="width:calc(100%/5)">N'i d'accord ni pas d'accord</div>
                        <div class="header-item" style="width:calc(100%/5)">Plutôt d'accord</div>
                        <div class="header-item" style="width:calc(100%/5)">Tout à fait d'accord</div>
                </div>
            </div>
            <div class="likert-row odd-row">
            <div class="row-prompt"> Je dois cocher une case pour répondre à cette question </div>
            <div class="row-input">
                <label class="input-element"><input type="radio" value="1" name="example-basic"/><div class="radio-button"></div></label>
                <label class="input-element"><input type="radio" value="2" name="example-basic"/><div class="radio-button"></div></label>
                <label class="input-element"><input type="radio" value="3" name="example-basic"/><div class="radio-button"></div></label>
                <label class="input-element"><input type="radio" value="4" name="example-basic"/><div class="radio-button"></div></label>
                <label class="input-element"><input type="radio" value="5" name="example-basic"/><div class="radio-button"></div></label>
            </div>
        </div>
    </div>
</div>
