{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/common.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_widgets.css" %}">
    <style>
        .example-question {display: flex}
        .example-question .prompt {width: 40%; margin-right: 5%}
    </style>
{% endblock %}
<div class="example-box" id="id-example-box">
    <div class="example-question">
        <div class="prompt"> 1. La réponse à cette question correspond à la position du curseur: </div>
        <div class="range-likert-widget">
            <div class="ticks">
                <div class="tick" style="width:calc(100%/4)">Par ici</div>
                <div class="tick" style="width:calc(100%/4)">Ici</div>
                <div class="tick" style="width:calc(100%/4)">Ou ici</div>
                <div class="tick" style="width:calc(100%/4)">Ou peut-être ici</div>
            </div>
            <input class="slider" type="range" name=example-range value=50 min=1 max=100 step=1>
        </div>
    </div>

    <br style="display:block; margin: 50px 0;"/><hr/>

    <div class="example-question">
        <div class="prompt"> 2. Comme pour (1), la réponse à cette question correspond à la position du curseur: </div>
        <div class="polar-likert-widget">
            <div class="ticks">
                <span class="tick major"></span>
                {% with ''|center:18 as range %}
                    {% for _ in range %}
                        <span class="tick"></span>
                    {% endfor %}
                {% endwith %}
                <span class="tick major"></span>
            </div>
            <input class = "slider" type = "range" name = 'example-polar' value = 10 min = 1 max = 20 step = 1 />
            <div class="annotations">
                <div class="lo">Il peut être très faible</div>
                <div class="hi">Ou très élevé</div>
            </div>
        </div>
    </div>

    <br style="display:block; margin: 50px 0;"/><hr/>

    <div class="example-question">
        <div class="prompt"> 3. Vous pouvez également voir ce genre de format: </div>
        <div class="basic-likert-widget" style="flex-grow: 1 !important; min-width: 0">
            <input type = "radio" id = "basic-liker-example1" name="basic-likert">
            <label for="basic-liker-example1" style="width:calc(100%/5)" title="Pas du tout d'accord">Pas du tout d'accord</label>
            <input type = "radio" id = "basic-liker-example2" name="basic-likert">
            <label for="basic-liker-example2" style="width:calc(100%/5)" title="Plutôt pas d'accord">Plutôt pas d'accord</label>
            <input type = "radio" id = "basic-liker-example3" name="basic-likert">
            <label for="basic-liker-example3" style="width:calc(100%/5)" title="N'i d'accord ni pas d'accord">N'i d'accord ni pas d'accord</label>
            <input type = "radio" id = "basic-liker-example4" name="basic-likert">
            <label for="basic-liker-example4" style="width:calc(100%/5)" title="Plutôt d'accord">Plutôt d'accord</label>
            <input type = "radio" id = "basic-liker-example5" name="basic-likert">
            <label for="basic-liker-example5" style="width:calc(100%/5)" title="Pas du tout d'accord">Tout à fait d'accord</label>
            </label>
         </div>
    </div>
</div>
