{% extends CONTEXT.participant.study.base_template %}
{% load i18n %}
{% load static %}
{% block title %} Flowers OL | Home {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
{% endblock %}
{% block js %}
    <script>
        const sessionActive = {{request.session.active_session}}
        function confirm_logout() {
            if (sessionActive && confirm('Current session is not finished, continue ?')) {
                window.location.href = "user_logout"
            }
        }
    </script>
{% endblock %}
{% block content%}
    <div class="side-panel">
        <h2>{% trans "Salut" %}, {{CONTEXT.participant.user.username}} !</h2>
        <p>{% trans "Ici, vous pouvez voir votre progression dans l'expérience" %}</p>
        <div class="side-info">
            <div class="content">
                {% include "includes/study_progression.html" with info=CONTEXT.participant.progress_info %}
                <div class="fade-screen"></div>
            </div>
        </div>
        <div class="btn-box" id="logout-button" onclick="confirm_logout()">
            <p class="btn logout">{% trans "Se déconnecter" %}</p>
        </div>
    </div>
    <div class="main-panel">
        {% if messages %}
            {% include "includes/message.html" with ms=messages %}
        {% endif %}

        {% for i in CONTEXT.participant.current_task.info %}
            {% include "includes/info_section.html" with info=i %}
        {% endfor %}
        {% if CONTEXT.participant.current_task.actions %}
            <div class="btn-panel">
            {% for prompt, view in CONTEXT.participant.current_task.actions.items %}
                <a class="btn" href={% url view %}>
                    {{prompt}}
            {% endfor %}
                </a>
            </div>
        {% endif %}
        {% if CONTEXT.participant.current_task.prompt %}
            <div class="btn-panel">
                <a class="btn" href={% url "start_task" %}>{{CONTEXT.participant.current_task.prompt}}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
