
{% extends "base.html" %}
{% block content %}
<div class="container">
  <p>
    <b>ParticipantProfile sessions (study.index.pk):</b>
    <ul> 
    {% for s in CONTEXT.p.sessions.all %}
      <li>{{s}}</li>
    {% endfor %}
    </ul>
    <b>Sessios stack (pks):</b> {{CONTEXT.p.session_stack_csv}} <br/>
    <b>Origin timestamp:</b> {{CONTEXT.p.origin_timestamp}} <br/>
    <b>Last session timestamp:</b> {{CONTEXT.time_stamp}} <br/>
    <b>Current sesssion</b> {{CONTEXT.p.current_session}} <br/>
    <b>- wait:</b> {{CONTEXT.p.current_session.wait}} <br/>
    <b>- deadline:</b> {{CONTEXT.p.current_session.deadline}} <br/>
    <b>- valid period:</b> {{CONTEXT.valid_period}} <br/>
    <b>- now is:</b> {{CONTEXT.now_is}} <br/>
    <b>- redirect_to:</b> <a href="{% url CONTEXT.destination %}"> {{CONTEXT.destination}} </a>
  </p>
  
  <div style="display:flex;justify-content:space-around;padding:0 20em;">
      <button type="button" class="btn btn-outline-dark">
        <a href="{% url "reset_user_participant" %}" style="text-decoration:none;color:inherit;display:block">Reset participant</a>
      </button>
      <button type="button" class="btn btn-outline-dark">
        <a href="{% url "end_session" %}" style="text-decoration:none;color:inherit;display:block" style=>End session</a>
      </button>
      <button type="button" class="btn btn-outline-dark">
        <a href="{% url "home_super" %}" style="text-decoration:none;color:inherit;display:block">Reload</a>
      </button type="button" class="btn btn-outline-dark">
      <button type="button" class="btn btn-outline-danger">
        <a href="{% url "login_page" %}" style="text-decoration:none;color:inherit;display:block">Logout</a>
      </button>
  </div>
  <div style="text-align:center;padding:1em 0;"> <h3><span style="color:gray;">Current local time in</span><br />Paris time</h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=Europe%2FParis" width="25%" height="115" frameborder="0" seamless></iframe> </div>
</div>
{%endblock%}
