{% load i18n %}
<p>
    {% trans "Pour cette tâche, il vous sera demandé de vous entraîner à jouer au jeu Lunar Lander. Au cours de multiples essais, votre mission sera de faire atterrir un vaisseau spatial sur une plateforme d'atterissage. Chaque essai peut se terminer de 3 manières différentes :" %}
    <ol>
        <li>{% trans "Le vaisseau peut s'écraser si sa capsule entre en contact avec un élément de l'environnement." %}</li>
        <li>{% trans "Le vaisseau peut-être perdu, s'il sort de l'écran." %}</li>
        <li>{% trans "Le vaisseau peut atterrir avec succès s'il reste posé debout sur la plateforme pendant au moins 3 secondes." %}</li>
    </ol>
    {% trans "Dès que le vaisseau se trouve sur la plateforme, vous verrez apparaître une barre de progression qui indique le temps restant avant la réussite et la validation de l'atterrissage." %}
    <br>
    {% trans "Pendant vos essais, et contrairement au tutoriel ci-dessous, vous devrez vous adapter à certaines forces environnementales afin de contrôler le vaisseau (gravité, vent, par exemple)" %}
</p>