{% extends CONTEXT.participant.study.base_template %}
{% load static %}
{% block title %} Flowers OL | Home {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static CONTEXT.participant.study.style %}">
{% endblock %}
{% block js %}
    <script>
        const sessionActive = {{request.session.active_session}}
        function confirm_logout() {
            if (sessionActive && confirm('Current session is not finished, continue ?')) {
                window.location.href = "user_logout"
            }
        }
    </script>
{% endblock %}
{% block content%}
    <div class="side-panel">
        <div class="side-info">
           <h2>Salut, {{CONTEXT.participant.user.username}} !</h2>
           <p>Ici, vous pouvez voir votre progression dans l'expérience</p>
           {% include "includes/study_progression.html" with info=CONTEXT.participant.progress_info %}
        </div>
        <button id="logout-button" class="btn logout" onclick='confirm_logout()'>Se déconnecter</button>
    </div>
    <div class="main-panel">
                <table class="table fixed_header" >
                    <thead class="thead-dark">
                        <tr>
                            <th>Numéro de l'épisode </th>
                            <th>Nombre de cibles </th>
                            <th>Nombre de distracteurs </th>
                            <th>Vitesse </th>
                            <th>Durée de suivi </th>
                            <th>Temps de réponse </th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for key, values in CONTEXT.participant.extra_json.history.items %}
                        <tr>
                            <td>{{ key }} </td>
                            {% for v in values %} <td> {{ v }} </td>{% endfor %}
                            <td> 0 </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
           <a href="home" class="btn">Retour accueil</a>
    </div>
{% endblock %}
